<template>
    <panel :title="title" :collapsed="collapsed" @collapse="$emit('collapse')">
        <div class="form-group">
            <div class="row">
                <!-- Максимальный формат печатного листа -->
                <div class="col-sm-5">
                    <label class="control-label">Максимальный формат печатного листа</label>
                    <sheet-format-select type="max"
                                         v-model="value.max_print_sheet_format"
                    ></sheet-format-select>
                </div>

                <!-- Технологич. поля -->
                <div class="col-sm-3">
                    <label class="control-label">Тех.&nbsp;поля</label>

                    <div class="input-group">
                        <input type="number" min="0" max="99" class="form-control"
                               v-model="value.technological_fields"
                        />
                        <span class="input-group-addon">мм</span>
                    </div>
                </div>

                <!-- Клапан -->
                <div class="col-sm-4">
                    <valve-input v-model="value.valve"></valve-input>
                </div>
            </div>
        </div>

        <equipment-chromacity v-model="value.chromaticity" :chromaticity-items="chromaticityItems"></equipment-chromacity>
    </panel>
</template>

<script>
    import PrintColor from "./../../../app/PrintColor";
    import ValveInput from "./../../form/ValveInput.vue";
    import EquipmentChromacity from "./EquipmentChromacity.vue";

    export default {
        components: { ValveInput, EquipmentChromacity },
        props: {
            value: {
                type: Object,
                default() {
                    return {
                        max_print_sheet_format: null,
                        technological_fields: null,
                        valve: { value: null, side: 'wide' },
                        chromaticity: new PrintColor()
                    };
                }
            },

            title: {
                type: String,
                default: ''
            },

            collapsed: {
                type: Boolean,
                default: false
            },

            chromaticityItems: {
                type: Array,
                default() { return []; }
            }
        }
    };
</script>
