<template>
    <div class="edit-equipment-form">
        <equipment-form v-model="equipment"
                        :loading="isLoading"
                        :errors="errors"
                        @submit="storeEquipment"
        ></equipment-form>
    </div>
</template>

<script>
    import EquipmentForm from "./EquipmentForm.vue";
    import PrintColor from "./../../../app/PrintColor";
    import Equipment from "./../../../models/Equipment";
    import ValidationError from "./../../../core/ValidationError";

    export default {
        data() {
            return {
                errors: [],
                equipment: {
                    print_type_id: 1,
                    equipment_name: null,
                    max_print_sheet_format: { width: null, height: null },
                    technological_fields: null,
                    valve: { value: null, side: 'wide' },
                    print_color_panels: [],
                    banner_print_panel: {
                        max_print_sheet_format: null,
                        technological_fields: null,
                        valve: { value: null, side: 'wide' },
                        chromaticity: new PrintColor()
                    },
                    banner_print_enabled: false
                },
                isLoading: false
            };
        },

        components: { EquipmentForm },

        methods: {
            /**
             * Store new equipment in the database
             *
             * @param equipment
             */
            storeEquipment(equipment) {
                this.isLoading = true;
                Equipment.store(equipment)
                    .then(response => {
                        this.isLoading = false;

                        if (response.data.status === 'success') {
                            return helpers.redirect(response.data.redirect);
                        }

                        this.errors = [response.data.message];
                    })
                    .catch(error => {
                        this.isLoading = false;

                        if (error.response.status === 422) {
                            this.errors = ValidationError.fromResponse(error.response).toArray();

                            return;
                        }

                        alert('Ошибка сервера');
                    });
            }
        }
    };
</script>
