<template>
    <div class="equipment-form">
        <alert v-show="errors.length > 0" type="danger" :message="errors"></alert>

        <div class="form-group">
            <div class="row">
                <!-- Тип печати -->
                <div class="col-sm-5">
                    <label id="printTypeId" class="control-label">Тип печати</label>
                    <select id="printType"v-model="value.print_type_id" class="form-control">
                        <option value="1" selected>Цифровая</option>
                        <option value="2">Широкоформатная</option>
                    </select>
                </div>

                <!-- Название оборудования -->
                <div class="col-sm-7">
                    <label for="name" class="control-label">Название оборудования</label>
                    <input id="name" class="form-control" v-model="value.equipment_name">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <!-- Максимальный формат печатного листа -->
                <div class="col-sm-5">
                    <label class="control-label">Максимальный формат печатного листа</label>
                    <sheet-format-select type="max" v-model="value.max_print_sheet_format"></sheet-format-select>
                </div>

                <!-- Технологич. поля -->
                <div class="col-sm-3">
                    <label for="technologicalFields" class="control-label">Тех.&nbsp;поля</label>

                    <div class="input-group">
                        <input type="number" min="0" max="99" id="technologicalFields"
                               class="form-control" v-model="value.technological_fields"
                        >
                        <span class="input-group-addon">мм</span>
                    </div>
                </div>

                <!-- Клапан -->
                <div class="col-sm-4">
                    <valve-input v-model="value.valve"></valve-input>
                </div>
            </div>
        </div>

        <div class="panel-group">
            <panel v-for="(panel, index) in value.print_color_panels"
                   :title="panel.title"
                   :collapsed="panel.collapsed"
                   :show-header="value.print_color_panels.length > 1 || value.banner_print_enabled"
                   @collapse="collapse(panel)"
            >
                <equipment-chromacity v-model="panel.data" :chromaticity-items="chromaticityItems"></equipment-chromacity>

                <button class="btn btn-danger btn-sm"
                        @click="removePrintColor(index)"
                        v-show="value.print_color_panels.length > 1"
                >
                    <i class="fa fa-trash"></i> Удалить
                </button>
            </panel>

            <banner-print-panel v-if="value.banner_print_enabled"
                                :title="value.banner_print_panel.title"
                                :collapsed="value.banner_print_panel.collapsed"
                                :chromaticity-items="chromaticityItems"
                                v-model="value.banner_print_panel.data"
                                @collapse="collapse(value.banner_print_panel)"
            ></banner-print-panel>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-link" @click="addPrintColor" :disabled="! canAddChromacityItem">
                        <i class="fa fa-plus"></i> Добавить цветность печати
                    </button>
                </div>

                <div class="col-md-6 text-right">
                    <label for="banner-printing">
                        <input type="checkbox"
                               id="banner-printing"
                               name="banner-printing"
                               @change="toggleBannerPrintState"
                               :checked="value.banner_print_enabled"
                        />
                        поддержка баннерной печати
                    </label>
                </div>
            </div>
        </div>

        <button class="btn btn-default with-border" @click="sumbitForm">
            Сохранить
        </button>
    </div>
</template>

<script>
    import PrintColor from "./../../../app/PrintColor";
    import ValveInput from "./../../form/ValveInput.vue";
    import BannerPrintPanel from "./BannerPrintPanel.vue";
    import EquipmentChromacity from "./EquipmentChromacity.vue";

    export default {
        data() {
            return {
                chromaticityItems: [
                    { name: 'Полноцветная', value: 'fullColor' },
                    { name: 'Черно-белая', value: 'grayscale' }
                ]
            };
        },

        components: { ValveInput, BannerPrintPanel, EquipmentChromacity },

        props: {
            value: {
                type: Object
            },

            errors: {
                type: Array,
                default() { return []; }
            }
        },

        computed: {
            canAddChromacityItem() {
                return this.value.print_color_panels.length < this.chromaticityItems.length;
            }
        },

        methods: {
            /**
             * Отправка формы
             */
            sumbitForm() {
                this.$emit('submit', this.value);
            },

            hideAllPanels() {
                this.value.print_color_panels.forEach(panel => panel.collapsed = false);
                if (this.value.banner_print_enabled) {
                    this.value.banner_print_panel.collapsed = false;
                }
            },

            /**
             * Сворачивание / разворачивание панелей
             */
            collapse(panel) {
                this.hideAllPanels();
                panel.collapsed = true;
            },

            /**
             * Добавить цветность печати
             */
            addPrintColor() {
                let printColor = new PrintColor();

                let usedChromaticities = this.value.print_color_panels.map(panel => panel.data.chromaticity);
                let freeChromaticities = this.chromaticityItems.filter(
                    item => usedChromaticities.indexOf(item.value) === -1
                );

                let chromaticity = _.head(freeChromaticities);

                printColor.chromaticity = chromaticity.value;
                printColor.title = chromaticity.name;

                this.hideAllPanels();

                this.value.print_color_panels.push({
                    title: chromaticity.name,
                    collapsed: true,
                    data: printColor,
                });
            },

            /**
             * Удаляет цветность
             *
             * @param index
             */
            removePrintColor(index) {
                this.value.print_color_panels.splice(index, 1);

                if (this.value.print_color_panels.length === 1) {
                    this.value.print_color_panels[0].collapsed = true;
                }
            },

            toggleBannerPrintState(event) {
                if (event.target.checked) {
                    this.hideAllPanels();

                    this.value.banner_print_enabled = true;
                    this.value.banner_print_panel = {
                        title: 'Баннерная печать',
                        collapsed: true,
                        data: {
                            max_print_sheet_format: { width: null, height: null },
                            technological_fields: null,
                            valve: { value: null, side: 'wide' },
                            chromaticity: new PrintColor()
                        }
                    };
                } else {
                    if (this.value.print_color_panels.length) {
                        this.value.print_color_panels[0].collapsed = true;
                    }

                    this.value.banner_print_enabled = false;
                    this.value.banner_print_panel = {};
                }
            }
        }
    };
</script>

<style>
    .panel > .panel-heading {
        cursor: pointer;
        user-select: none;
    }
</style>
