<template>
    <div class="equipment-chromacity">
        <div class="form-group">
            <div class="row">
                <!-- Цветность -->
                <div class="col-sm-6">
                    <label :for="'chromaticity_' + id" class="control-label">Цветность</label>
                    <select :id="'chromaticity_' + id"
                            name="chromaticity"
                            class="form-control"
                            v-model="value.chromaticity"
                    >
                        <option v-for="item in chromaticityItems" :value="item.value">
                            {{ item.name }}
                        </option>
                    </select>
                </div>

                <!-- Стоимость клика -->
                <div class="col-sm-6">
                    <label :for="'clickPrice_' + id" class="control-label">Стоимость клика</label>
                    <price-input :id="'clickPrice_' + id" v-model="value.click_price"></price-input>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label :for="'performance_' + id">Производительность</label>
                    <div class="input-group">
                        <input type="text"
                               name="performance"
                               :id="'performance_' + id"
                               class="form-control"
                               v-model="value.performance"
                        />
                        <span class="input-group-addon">отп/мин</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label :for="'rebuilding_' + id">Перестройка на тираж</label>
                    <div class="input-group">
                        <input type="text"
                               name="rebuilding"
                               :id="'rebuilding_' + id"
                               class="form-control"
                               v-model="value.rebuilding"
                        />
                        <span class="input-group-addon">мин</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label :for="'fitting_1_' + id">Приладка на 1 сторону</label>
                    <div class="input-group">
                        <input :id="'fitting_1_' + id"
                               min="0"
                               type="number"
                               name="fitting_1"
                               class="form-control"
                               v-model="value.fitting_1"
                        />
                        <span class="input-group-addon">лст.</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <label :for="'fitting_2_' + id">Приладка на 2 стороны</label>
                    <div class="input-group">
                        <input :id="'fitting_2_' + id"
                               min="0"
                               type="number"
                               name="fitting_2"
                               class="form-control"
                               v-model="value.fitting_2"
                        />
                        <span class="input-group-addon">лст.</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="defect-norm">Норма расхода "на брак"</label>
                    <div class="input-group">
                        <input id="defect-norm"
                               min="0"
                               type="number"
                               class="form-control"
                               v-model="value.defect_norm"
                        />
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PrintColor from "../../../app/PrintColor";
    import PriceInput from "../../form/PriceInput.vue";

    export default {
        data() {
            return {
                id: -1
            };
        },

        components: { PriceInput },

        props: {
            value: {
                type: Object,
                default() {
                    return new PrintColor();
                }
            },

            chromaticityItems: {
                type: Array,
                default() { return []; }
            }
        },

        mounted() {
            this.id = this._uid;
        }
    };
</script>
