<template>
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12 col-lg-10">
                <div class="form-group row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <date-period-picker id="period-picker"
                                            placeholder="Не имеет значения"
                                            format="DD.MM.YYYY"
                                            v-model="form.range"
                                            @input="$emit('change', form)"
                        ></date-period-picker>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="sheet" class="col-sm-3 col-lg-4 control-label">
                        Печатный лист
                    </label>

                    <div class="col-sm-9 col-lg-8">
                        <div class="row">
                            <div class="col-sm-9 col-lg-8">
                                <!-- Печатный лист -->
                                <input type="text"
                                       id="sheet"
                                       name="sheet"
                                       class="form-control"
                                       readonly
                                       v-model="form.sheet"
                                />
                            </div>

                            <!-- Выбрать формат -->
                            <div class="col-sm-3 col-lg-4">
                                <sheet-format-select
                                        type="print"
                                        v-model="form.printSheetFormat"
                                        @input="$emit('change', form)"
                                ></sheet-format-select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="format" class="col-sm-3 col-lg-4 control-label">
                        Формат изделия, раскладка
                    </label>

                    <div class="col-sm-9 col-lg-8">
                        <div class="row">

                            <!-- Формат изделия -->
                            <div class="col-sm-9 col-lg-8">
                                <input type="text"
                                       id="format"
                                       name="format"
                                       class="form-control"
                                       readonly
                                       v-model="form.format"
                                />
                            </div>

                            <!-- Раскладка -->
                            <div class="col-sm-3 col-lg-4">
                                <div class="input-group">
                                    <input type="number"
                                           class="form-control"
                                           name="layout"
                                           v-model="form.layout"
                                           min="1"
                                           readonly
                                    />
                                    <span class="input-group-addon">шт/лст</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="chromacity" class="col-sm-3 col-lg-4 control-label">Цвет</label>

                    <!-- Цветность -->
                    <div class="col-sm-9 col-lg-8">
                        <v-select :on-change="postpressChangeCallback"
                                  :options="chromacityItems"
                                  placeholder="Цвет не выбран"
                                  v-model="form.chromacity"
                                  multiple
                        ></v-select>
                    </div>
                </div>

                <!-- Постпресс -->
                <div class="form-group row">
                    <label for="postpress" class="col-sm-3 col-lg-4 control-label">Постпресс</label>

                    <div class="col-sm-9 col-lg-8">
                        <v-select :on-change="postpressChangeCallback"
                                  :options="postpressItems"
                                  placeholder="Постпресс не выбран"
                                  v-model="form.postpress"
                                  multiple
                        ></v-select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import DatePeriodPicker from "./form/DatePeriodPicker.vue";
    import vSelect from "vue-select";
    import Filter from "./QueueFilter";

    export default {
        data() {
            return {
                postpressItems: [],
                chromacityItems: [],
                printSheetFormats: [],
                form: new Filter()
            };
        },

        components: { DatePeriodPicker, vSelect },

        props: {
            value: { type: Object, required: true }
        },

        methods: {
            /**
             * Fetch avaiable postpress items
             */
            fetchPostpressItems() {
                axios.get('/api/prepress-queue/postpress')
                    .then(({data}) => this.postpressItems = data);
            },

            fetchChromacityItems() {
                axios.get('/api/prepress-queue/chromacity')
                    .then(({data}) => this.chromacityItems = data);
            },

            postpressChangeCallback(value) {
                this.$emit('change', value);
            },

            /**
             * Component initialization
             */
            initComponent() {
                this.fetchPostpressItems();
                this.fetchChromacityItems();

                this.form = this.value;
            }
        },

        /**
         * Mounted component
         */
        mounted() {
            this.initComponent();
        }
    };
</script>
