<template>
    <div class="decomposition-filter">
        <form class="form-horizontal">
            <alert type="success" :message="errors" v-show="errors.length"></alert>

            <div class="row">
                <div class="col-md-12 col-lg-10">
                    <div class="form-group row">
                        <div class="col-sm-offset-3 col-lg-offset-4 col-sm-4">
                            <select class="form-control">
                                <option selected disabled>Печатная машина</option>
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <div class="radios-horizontal text-right">
                                <label for="its-cover" class="control-label">
                                    <input id="its-cover"
                                           type="radio"
                                           name="cover"
                                           value="its-cover"
                                           v-model="cover"
                                           :disabled="cover !== 'its-cover'"
                                    /> Своя обложка
                                </label>

                                <label for="another-cover" class="control-label">
                                    <input id="another-cover"
                                           type="radio"
                                           value="another-cover"
                                           name="cover"
                                           v-model="cover"
                                           :disabled="cover !== 'another-cover'"
                                    /> Чужая обложка
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="decomposition-sheet" class="col-sm-3 col-lg-4 control-label">
                            Печатный лист
                        </label>

                        <div class="col-sm-9 col-lg-8">
                            <div class="row">
                                <div class="col-sm-9 col-lg-8">
                                    <!-- Печатный лист -->
                                    <input type="text"
                                           id="decomposition-sheet"
                                           name="sheet"
                                           class="form-control"
                                           readonly
                                           v-model="value.sheet"
                                    />
                                </div>

                                <!-- Выбрать формат -->
                                <div class="col-sm-3 col-lg-4">
                                    <sheet-format-select type="print"
                                            v-model="value.printSheetFormat"
                                            @input="$emit('change', form)"
                                    ></sheet-format-select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="decomposition-slew" class="col-sm-3 col-lg-4 control-label">
                            Разворот изделия, раскладка
                        </label>

                        <div class="col-sm-9 col-lg-8">
                            <div class="row">

                                <!-- Разворот изделия -->
                                <div class="col-sm-9 col-lg-8">
                                    <input type="text"
                                           id="decomposition-slew"
                                           name="slew"
                                           class="form-control"
                                           readonly
                                           v-model="slew"
                                    />
                                </div>

                                <!-- Раскладка -->
                                <div class="col-sm-3 col-lg-4">
                                    <div class="input-group">
                                        <input type="number"
                                               class="form-control"
                                               name="layout"
                                               min="1"
                                               v-model="value.layout"
                                        />
                                        <span class="input-group-addon">шт/лст</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="decomposition-chromacity" class="col-sm-3 col-lg-4 control-label">Цвет</label>

                        <!-- Цветность -->
                        <div class="col-sm-9 col-lg-8">
                            <v-select :on-change="chromacityChangeCallback"
                                      :options="chromacityItems"
                                      placeholder="Цвет не выбран"
                                      v-model="value.chromacity"
                                      multiple
                            ></v-select>
                        </div>
                    </div>

                    <!-- Варианты спуска -->
                    <div class="form-group row">
                        <label for="descent" class="col-sm-3 col-lg-4 control-label">
                            Вариант спуска
                        </label>

                        <div class="col-sm-9 col-lg-8">
                            <div class="radios-horizontal">
                                <label for="picking" class="control-label">
                                    <input id="picking"
                                           name="descent"
                                           type="radio"
                                           value="picking"
                                           v-model="value.descent"
                                    /> подбором
                                </label>

                                <label for="dobles" class="control-label">
                                    <input id="dobles"
                                           name="descent"
                                           type="radio"
                                           value="dobles"
                                           v-model="value.descent"
                                    /> двойниками
                                </label>

                                <label for="notebooks" class="control-label">
                                    <input id="notebooks"
                                           name="descent"
                                           type="radio"
                                           value="notebooks"
                                           v-model="value.descent"
                                           disabled
                                    /> тетрадями
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import vSelect from 'vue-select'
    import Alert from "./html/Alert.vue";
    import DecompositionFilter from "../app/DecompositionFilter";

    export default {
        data() {
            return {
                errors: [],
                form: new DecompositionFilter()
            };
        },

        components: { Alert, vSelect },

        props: {
            chromacityItems: {
                type: Array,
                default: []
            },

            cover: {
                type: String,
                default: null
            },

            slew: {
                type: String,
                default: null
            },

            value: {
                type: Object
            }
        },

        methods: {
            chromacityChangeCallback(value) {
                this.$emit('change', value);
            }
        }
    };
</script>

<style scoped>
    .radios-horizontal > .control-label {
        margin-right: 10px;
    }
</style>
