<template>
    <div class="template-uploader">
        <div class="row">
            <div class="col-lg-5">
                <div class="alert alert-danger" v-show="errors.length > 0">
                    <ul>
                        <li v-for="error in errors">
                            {{ error }}
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Шаблон PSD</label>
                    <input type="file"
                           @change="selectFirstSideFile"
                           class="form-control"
                           :readonly="loading"
                    />
                </div>

                <div class="form-group" v-show="sides > 1">
                    <label>Шаблон PSD (вторая сторона)</label>
                    <input type="file"
                           @change="selectSecondSideFile"
                           class="form-control"
                           :readonly="loading"
                    />
                </div>

                <div class="form-group">
                    <button class="btn btn-primary"
                            @click="upload"
                            :disabled="loading"
                    >
                        <i class="fa fa-spinner fa-spin fa-fw"
                           v-show="loading"
                        ></i>

                        Загрузить
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Order from "./../models/Order";
    import ValidationError from "./../core/ValidationError";

    export default {
        data() {
            return {
                errors: [],

                loading: false,

                files: {
                    firstSide: null,
                    secondSide: null
                }
            };
        },

        props: {
            /**
             * Template side count
             */
            sides: {
                default: 1
            },

            /**
             * Server upload handler url
             */
            handler: {
                type: String,
                required: true
            }
        },

        methods: {
            /**
             * Select first side template file
             * @param event
             * @returns {*}
             */
            selectFirstSideFile(event) {
                this.files.firstSide = null;

                if (event.target.files.length) {
                    return this.files.firstSide = event.target.files[0];
                }
            },

            /**
             * Select second side template file
             *
             * @param event
             * @returns {*}
             */
            selectSecondSideFile(event) {
                this.files.secondSide = null;

                if (event.target.files.length) {
                    return this.files.secondSide = event.target.files[0];
                }
            },

            /**
             * Upload files to the server
             */
            upload() {
                // reset errors
                this.errors = [];
                this.loading = true;

                let formData = new FormData();
                formData.append('sides', this.sides);
                formData.append('firstSide', this.files.firstSide || '');
                formData.append('secondSide', this.files.secondSide || '');

                axios.post(this.handler, formData)
                    .then(({data}) => {
                        this.loading = false;

                        if (data.status === 'error') {
                            return this.errors.push(data.message);
                        }

                        this.$emit('upload', data);
                    })
                    .catch(error => {
                        this.loading = false;
                        this.errors = ValidationError.fromResponse(error.response).toArray();
                    });
            }
        }
    };
</script>

<style lang="scss" scoped>

</style>
