<template>
    <div class="elements">
        <alert type="warning" v-show="freeLayout > 0">
            <i class="fa fa-2x fa-warning"></i>
            Свободное место в раскладке: {{ freeLayout }} x {{ printSheetDraw }}.
        </alert>

        <alert type="success" v-show="optimalLayout">
            <i class="fa fa-2x fa-check-circle" aria-hidden="true"></i> Оптимальная раскладка.
        </alert>

        <table class="table table-bordered table-hover">
            <tbody>
                <!-- Заголовок сборного листа -->
                <tr class="table-head">
                    <th class="td-checkbox"></th>
                    <th class="td-id">№</th>
                    <th>Продукт</th>
                    <th>Формат</th>
                    <th>Цвет</th>
                    <th>Материал</th>
                    <th class="td-draw">Тираж</th>
                    <th>Постпресс</th>
                    <th>Дата выдачи</th>
                    <th class="td-preview">Превью</th>
                    <th>Действия</th>
                </tr>

                <!-- Сборный лист -->
                <tr>
                    <td class="td-checkbox"></td>

                    <!-- ID -->
                    <td class="td-id"></td>

                    <!-- Название продукта -->
                    <td>{{ performOrderComputed.product }}</td>

                    <!-- Формат -->
                    <td>{{ filters.printSheetFormat | formatToString }}</td>

                    <!-- Цветность -->
                    <td>{{ performOrderComputed.chromacity }}</td>

                    <!-- Материал -->
                    <td>{{ performOrderComputed.material }}</td>

                    <!-- Тираж -->
                    <td class="td-draw">{{ performOrderComputed.draw }} шт.</td>

                    <!-- Постпресс -->
                    <td>
                        <div v-for="process in performOrderComputed.postpress_processes">
                            {{ process }}
                        </div>
                    </td>

                    <!-- Дата выдачи -->
                    <td>{{ performOrderComputed.issue_at | date_format('DD.MM.YYYY') }}</td>

                    <!-- Первью -->
                    <td><thumbnail :url="performOrderComputed.preview"></thumbnail></td>

                    <!-- Действия -->
                    <td>
                        <button class="btn btn-primary btn-xs btn-block"
                                :disabled="! canCreatePerformOrder"
                                @click="createPerformOrder"
                        >
                            <i class="fa fa-download" aria-hidden="true"></i>
                            Скачать
                        </button>
                    </td>
                </tr>

                <!-- Заголовок элементов -->
                <tr class="table-head">
                    <th class="td-checkbox text-center">
                        <span class="badge" title="Выбрано элементов">{{ selectedCount }}</span>
                    </th>
                    <th class="td-id">#</th>
                    <th>Продукт</th>
                    <th>Параметры</th>
                    <th>Цвет</th>
                    <th>Раскладка</th>
                    <th class="td-draw">Тираж</th>
                    <th>Постпресс</th>
                    <th>Дата выдачи</th>
                    <th class="td-preview">Превью</th>
                    <th>Статус</th>
                </tr>

                <!-- Элементы -->
                <tr v-for="(element, index) in items" :class="{ 'info': element.isSelected }">
                    <!-- Checkbox -->
                    <td class="td-checkbox">
                        <checkbox :checked="element.isSelected"
                                  @toggle="toggleElementSelection(element.id)"
                        ></checkbox>
                    </td>

                    <!-- ID -->
                    <td class="td-id">{{ element.order.group_id }}.{{ element.order.position }}</td>

                    <!-- Продукт -->
                    <td>{{ element.name }} ({{ element.order.price_details.selected_product_type_name || element.order.price_details.selected_product }})</td>

                    <!-- Параметры -->
                    <td>
                        {{ element.format }}

                        <template v-show="element.pages_number">
                            <br> {{ element.pages_number }} стр
                        </template>
                    </td>

                    <!-- Цветность -->
                    <td>{{ element.chromacity }}</td>

                    <!-- Раскладка -->
                    <td>
                        <!-- Плановая -->
                        <span class="badge">
                            {{ filters.layout }} шт/лст
                        </span>

                        <!-- Фактическая -->
                        <template v-if="element.isSelected">
                            <br>
                            <span class="badge">
                                {{ element.perform_layout }} шт/лст
                            </span>
                        </template>
                    </td>

                    <!-- Тираж -->
                    <td class="td-draw">
                        <!-- Плановый -->
                        {{ element.draw }} шт

                        <!-- Фактический -->
                        <span v-if="element.isSelected">
                            <br>
                            <span :class="{
                                    'badge' : true,
                                    'label-success': element.draw == element.perform_draw,
                                    'label-danger' : element.draw != element.perform_draw
                            }">
                                {{ element.perform_draw }} шт.
                            </span>
                        </span>
                    </td>

                    <!-- Постпресс -->
                    <td>
                        <div class="multiline-info">
                            <div class="line" v-for="item in element.postpress">{{ item }}</div>
                        </div>
                    </td>

                    <!-- дата выдачи -->
                    <td></td>

                    <!-- Превью -->
                    <td class="td-preview">
                        <thumbnail :url="element.preview"></thumbnail>
                    </td>

                    <!-- Статус -->
                    <td>
                        <status type="default" v-if="element.status">
                            {{ element.status.name }}
                        </status>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import Filter from "./../QueueFilter";
    import Checkbox from "../html/Checkbox.vue";

    export default {
        data() {
            return {
                selectedIds: []
            };
        },

        components: { Checkbox },

        computed: {
            items() {
                let elements = this.elements.map(element => {
                    element.isSelected = this.selectedIds.indexOf(element.id) !== -1;
                    element.perform_layout = null;
                    element.perform_draw = null;
                    element.draw = +element.draw;

                    // Расчёты
                    if (element.isSelected) {
                        element.perform_layout = Math.ceil(element.draw / this.printSheetDraw) || 1;
                        element.perform_draw = element.perform_layout * this.printSheetDraw;
                    }

                    return element;
                });

                // Выбранные сверху
                elements = elements.sort(element => ! element.isSelected);

                return elements;
            },

            /**
             * Selected elements
             */
            selectedElements() {
                return this.elements.filter(element => {
                    let index = this.selectedIds.indexOf(element.id);
                    return index !== -1;
                });
            },

            /**
             * Тираж всех выделенных изделий
             */
            selectedEdition() {
                return _.sum(this.selectedElements.map(element => element.draw));
            },

            /**
             * Тираж сборного листа
             */
            printSheetDraw() {
                if (this.filters.layout > 0 && this.selectedCount > 0) {
                    let draws = this.selectedElements.map(order => {
                        let layout = Math.floor(order.draw / this.selectedEdition * this.filters.layout);

                        return Math.ceil(order.draw / layout);
                    });

                    return Math.max(...draws);
                }

                return null;
            },

            /**
             * Кол-во выбранных элементов
             */
            selectedCount() {
                return this.selectedIds.length;
            },

            /**
             * Валидация возможности создать новый наряд
             */
            canCreatePerformOrder() {
                return this.selectedCount > 0;
            },

            /**
             * Объект с полными данными создаваемого наряда
             */
            performOrderData() {
                return Object.assign(this.performOrderComputed, {
                    elements: this.selectedElements
                });
            },

            /**
             * Сумма раскладок всех выделенных заказов
             */
            selectedLayoutSum() {
                return _.sum(this.selectedElements.map(element => element.perform_layout));
            },

            /**
             * Свободное место в раскладке
             */
            freeLayout() {
                if (this.selectedCount > 0) {
                    return this.filters.layout - this.selectedLayoutSum;
                }

                return 0;
            },

            /**
             * Check for optimal layout
             */
            optimalLayout() {
                if (this.selectedCount === 0 || this.freeLayout > 0) {
                    return false;
                }

                let nonOptimal = this.selectedElements.filter(element => {
                    return element.draw - (element.perform_layout * this.printSheetDraw) != 0;
                });

                console.log(nonOptimal);

                return nonOptimal.length === 0;
            },

            /**
             * Вычисляемые параметры наряда
             */
            performOrderComputed() {
                let performOrder = this.performOrder;

                performOrder.draw = this.printSheetDraw;

                return performOrder;
            }
        },

        props: {
            elements: {
                type: Array,
                default() { return [] }
            },

            performOrder: {
                type: Object,
                required: true
            },

            filters: {
                type: Filter,
                required: true
            },

            selectedElementId: {
                default: null
            }
        },

        methods: {
            /**
             * Toggle element selection
             *
             * @param elementId
             * @returns {*}
             */
            toggleElementSelection(elementId) {
                if (this.filters.layout < this.selectedCount + 1) {
                    alert('Нельзя выбрать заказов больше, чем значение раскладки!');
                    return false;
                }

                let index = this.selectedIds.indexOf(elementId);

                if (index === -1) {
                    this.selectedIds.push(elementId);
                } else {
                    this.selectedIds.splice(index, 1);
                }
            },

            /**
             * Create perform order
             */
            createPerformOrder() {
                this.$emit('create-perform-order', this.performOrderData);
            }
        },

        mounted() {
            if (this.selectedElementId) {
                this.selectedIds.push(this.selectedElementId);
            }
        }
    };
</script>

<style lang="scss" scoped>

</style>
