<template>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="table-head">
                    <th>№</th>
                    <th>Продукт</th>
                    <th>Формат</th>
                    <th>Цвет</th>
                    <th>Материал</th>
                    <th>Тираж</th>
                    <th>Постпресс</th>
                    <th>Дата выдачи</th>
                    <th>Превью</th>
                    <th>Действия</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <!-- Номер -->
                    <td class="td-checkbox">{{ performOrder.id }}</td>

                    <!-- Продукт -->
                    <td class="td-product-wide">{{ performOrder.product }}</td>

                    <!-- Формат печатного листа -->
                    <td class="td-size">{{ filters.printSheetFormat | formatToString }}</td>

                    <!-- Цветность -->
                    <td class="td-chromacity">{{ performOrder.chromacity }}</td>

                    <!-- Материал -->
                    <td class="td-material">{{ performOrder.material }}</td>

                    <!-- Тираж cборного листа -->
                    <td class="td-draw">
                        {{ performOrder.draw }} лст. <br>

                        <template v-if="filters.descent === 'picking'">
                            x {{ firstElement.draw }} шт.
                        </template>

                        <template v-if="filters.descent === 'dobles'">
                            x {{ Math.ceil(firstElement.draw / filters.layout) }} шт.
                        </template>
                    </td>

                    <!-- Постпресс -->
                    <td class="td-postpress">
                        <div v-for="process in performOrder.postpress_processes">
                            {{ process }}
                        </div>
                    </td>

                    <!-- Дата выдачи -->
                    <td class="td-issue-at">
                        {{ performOrder.issue_at | date_format('DD.MM.YYYY') }}
                    </td>

                    <!-- Превью -->
                    <td class="td-preview">
                        <thumbnail :url="performOrder.preview"></thumbnail>
                    </td>

                    <!-- Действия -->
                    <td class="td-actions">
                        <button class="btn btn-primary btn-xs btn-block"
                                @click="$emit('download', performOrder)"
                        >
                            <i class="fa fa-download" aria-hidden="true"></i>
                            Скачать
                        </button>
                    </td>
                </tr>

                <!-- Заголовок элементов -->
                <tr class="table-head">
                    <td>#</td>
                    <td>Продукт</td>
                    <td>Параметры</td>
                    <td>Цвет</td>
                    <td>Раскладка</td>
                    <td>Тираж</td>
                    <td>Постпресс</td>
                    <td>Дата выдачи</td>
                    <td>Превью</td>
                    <td>Статус</td>
                </tr>

                <!-- Элементы -->
                <tr v-for="(element, index) in elements">

                    <!-- ID -->
                    <td>{{ element.order_id }}.{{ index + 1 }}</td>

                    <!-- Продукт -->
                    <td>{{ element.name }}</td>

                    <!-- Параметры -->
                    <td>
                        {{ element.format }}

                        <template v-show="element.pages_number">
                            <br> {{ element.pages_number }} стр
                        </template>
                    </td>

                    <!-- Цветность -->
                    <td>{{ element.chromacity }}</td>

                    <!-- Раскладка -->
                    <td>{{ element.layout }} шт/лст</td>

                    <!-- Тираж -->
                    <td>{{ element.draw }} шт</td>

                    <!-- Постпресс -->
                    <td>
                        <div class="multiline-info">
                            <div class="line" v-for="item in element.postpress">{{ item }}</div>
                        </div>
                    </td>

                    <!-- Дата выдачи -->
                    <td>{{ performOrder.issue_at | date_format('DD.MM.YYYY') }}</td>

                    <!-- Превью -->
                    <td>
                        <thumbnail :url="element.preview"></thumbnail>
                    </td>

                    <!-- Статус -->
                    <td>
                        <status type="default"
                                v-if="element.status"
                                :style="{ 'background-color': '#'+element.status.color, 'color': 'white' }"
                        >
                            {{ element.status.name }}
                        </status>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import DecompositionFilter from "../../app/DecompositionFilter";
    import Status from "../html/Status.vue";
    import Thumbnail from "../html/Thumbnail.vue";

    export default {
        data() {
            return {

            };
        },

        components: { Thumbnail, Status },

        props: {
            performOrder: {
                type: Object,
                default() {
                    return {
                        id: null,
                        product: null,
                        chromacity: null,
                        print_sheet_format: null,
                        draw: null,
                        material: null,
                        postpress_processes: [],
                        issue_at: null
                    };
                }
            },

            elements: {
                type: Array,
                default() { return []; }
            },

            filters: {
                type: DecompositionFilter,
                required: true
            }
        },

        computed: {
            firstElement() {
                if (this.elements.length > 0) {
                    return this.elements[0];
                }

                return null;
            }
        }
    };
</script>
