<template>
    <div class="queue-design-table">
        <group-orders-table collapsed></group-orders-table>
    </div>
</template>

<script>
    import GroupOrdersTable from "./group-orders-table";

    export default {
        components: { GroupOrdersTable }
    };
</script>
