<template>
    <div class="queue-design-table">
        <table class="table table-border table-hover">
            <tbody>
            <template v-for="groupOrder in groupOrders">
                <tr :class="{
                        'row-top': true,
                        'table-head': true
                    }"
                >
                    <th>ID</th>
                    <th>Клиент</th>
                    <th>Контактное лицо</th>
                    <th>Контакты</th>
                    <th>Дата оформления</th>
                    <th>Сумма заказа</th>
                    <th class="td-status">Статус</th>
                    <th class="td-actions">Действия</th>
                </tr>

                <!-- Строка с главным заказом -->
                <tr :class="{ 'row-middle': true }">
                    <!-- ID -->
                    <td>
                        <group-order-link :group-order="groupOrder"
                                          target="_blank"
                        >
                            {{ groupOrder.id }} ({{ groupOrder.orders.length }})
                        </group-order-link>
                    </td>

                    <!-- Клиента -->
                    <td>
                        <div>
                            <a :href="'/client/show/' + groupOrder.client.id"
                               v-text="groupOrder.client.is_company ? groupOrder.client.tm_name : 'Частное лицо'"
                            ></a>
                        </div>

                        <span class="label label-default">{{ groupOrder.client.type.name }}</span>
                    </td>

                    <!-- Контактное лицо -->
                    <td>
                        <a :href="'/contact/show/' + groupOrder.contact.id + '/' + groupOrder.client.id">
                            {{ groupOrder.contact.last_name }} {{ groupOrder.contact.name }}
                        </a>
                    </td>

                    <!-- Контакты -->
                    <td>
                        <a :href="'mailto:' + groupOrder.contact.email">
                            {{ groupOrder.contact.email }}
                        </a>

                        <div>{{ groupOrder.contact.phone }}</div>
                    </td>

                    <!-- Дата оформления -->
                    <td>
                        <span class="text-bold">{{ groupOrder.created_at.date | date_format('DD.MM.YYYY') }}</span> <br>
                        {{ groupOrder.created_at.date | date_format('HH:mm') }}
                    </td>

                    <!-- Сумма заказа -->
                    <td>{{ groupOrder.price }} руб.</td>

                    <!-- Статус -->
                    <td class="td-status">
                        <span class="label"
                              :style="{ 'background-color': '#'+groupOrder.status_info.color, 'color': 'white' }"
                        >
                            {{ groupOrder.status_info.name }}
                        </span>
                    </td>

                    <!-- Действия -->
                    <td class="td-actions"></td>
                </tr>

                <!-- Строка с заголовком позиций -->
                <tr :class="{ 'row-middle': true, 'table-head': true }">
                    <th>ID</th>
                    <th>Наименование</th>
                    <th>Тираж</th>
                    <th>Превью</th>
                    <th>Дата выдачи</th>
                    <th>Цена</th>
                    <th class="td-status">Статус</th>
                    <th class="td-actions">Действия</th>
                </tr>

                <!-- Позиции заказа -->
                <template v-for="(order, index) in groupOrder.orders">
                    <tr :class="{
                        'row-middle' : true,
                        'row-bottom': index === groupOrder.orders.length - 1
                            && panels.layoutApproved !== order.id
                            && panels.sendForApproval !== order.id,
                        'warning': order.designer_working
                    }">
                        <!-- ID -->
                        <td>
                            <order-link :order="order" target="_blank"></order-link>
                        </td>

                        <!-- Наименование -->
                        <td>
                            {{ order.product_name }} {{ order.price_details.selected_size }}

                            <span v-show="order.price_details.printler_type == 3">
                                ,<br> {{ order.price_details.selected_product }} стр.

                                <span v-show="order.price_details.selected_cover != 'Без обложки'">
                                    + обложка
                                </span>

                                <span v-show="order.price_details.selected_cover == 'Без обложки'">
                                    Без обложки
                                </span>
                            </span>

                            <!-- Цветность -->
                            <div v-show="order.price_details.printler_type != 3"
                                 v-text="order.price_details.selected_chromacity"
                            ></div>
                        </td>

                        <!-- Тираж -->
                        <td>{{ order.draw }} шт.</td>

                        <!-- Превью -->
                        <td>
                            <span class="label label-default">Макет готовит дизайнер</span>
                        </td>

                        <!-- Дата выдачи -->
                        <td>{{ order.close_date | unixDate('DD.MM.YYYY') }}</td>

                        <!-- Цена -->
                        <td>{{ order.price }} руб.</td>

                        <!-- Статус -->
                        <td class="td-status">
                            <span class="label"
                                  :style="{ 'background-color': '#'+order.status_info.color, 'color': 'white' }"
                            >
                                {{ order.status_info.name }}
                            </span>

                            <div v-show="order.designer_working_starttime !== null">
                                <span v-show="order.designer_working" class="label label-work">В работе</span>
                                <span v-show="! order.designer_working" class="label label-pause">Приостановлено</span>
                            </div>

                            <div v-show="order.edit_specification == 1">
                                <span class="label tz-edited">ТЗ отредактировано</span>
                            </div>

                            <div v-show="order.sent_revision_at">
                                <span class="label l-reworked">
                                    <i class="fa fa-warning"></i>
                                    Отправлен на переделку
                                </span>
                            </div>
                        </td>

                        <!-- Действия -->
                        <td class="td-actions">
                            <a :href="`/order/${order.id}/specification/show`"
                               class="btn btn-block btn-xs btn-tz"
                               v-show="order.status == 300"
                               @click="showTechnicalTask(order)"
                            >
                                Получить ТЗ
                            </a>

                            <div class="btn-block" v-show="designerCanWorkOnOrder(order)">
                                <btn-block type="start-work"
                                           @click="startWorking(order)"
                                           v-if="! order.designer_working"
                                >
                                    Начать выполнение
                                </btn-block>

                                <btn-block type="danger" @click="stopWorking(order)" v-if="order.designer_working">
                                    Приостановить работу
                                </btn-block>

                                <btn-block type="primary"
                                           @click="openTemplateUploader(order)"
                                           v-show="order.status == 301 && order.designer_working_starttime !== null"
                                           :active="panels.layoutApproved === order.id"
                                >
                                    Макет утвержден
                                </btn-block>

                                <btn-block type="send-approve"
                                           @click="openTemplateUploader(order)"
                                           :active="panels.sendForApproval === order.id"
                                           v-show="order.status == 300 && order.designer_working !== null"
                                >
                                    Отправить на согласование
                                </btn-block>
                            </div>
                        </td>
                    </tr>
                </template>
            </template>
            </tbody>
        </table>

        <!-- Постраничная навигация -->
        <paginator v-show="pagination.last_page > 1"
                   :pagination="pagination"
                   :callback="fetchGroupOrders"
                   :options="paginationOptions"
        ></paginator>
    </div>
</template>

<script>
    import Modal from "../Modal";
    import Paginator from "../Paginator";
    import Order from "./../../models/Order";
    import BtnBlock from "../form/btn-block";
    import OrderLink from "../html/OrderLink";
    import TemplateUploader from "../TemplateUploader";
    import GroupOrder from "./../../models/GroupOrder";
    import GroupOrderLink from "../html/GroupOrderLink";

    export default {
        data() {
            return {
                groupOrders: [],

                pagination: {
                    total: 0,
                    per_page: 12,
                    current_page: 1,
                    last_page: 0,
                    from: 1,
                    to: 12
                },

                paginationOptions: {
                    offset: 10,
                    previousText: 'Назад',
                    nextText: 'Вперёд',
                    alwaysShowPrevNext: true
                },

                // Состояния панелей
                panels: {
                    sendForApproval: null,
                    layoutApproved: null
                },

                // Форма отправки на согласование
                sendForApprovalForm: {
                    order: null,
                    file: null,
                    loading: false
                },

                // Форма утверждения макета
                layoutApprovedForm: {
                    order: null,
                    file: null,
                    loading: false
                }
            };
        },

        components: {
            Paginator, BtnBlock, Modal, TemplateUploader, GroupOrderLink, OrderLink
        },

        methods: {
            /**
             * Get group orders from server
             */
            fetchGroupOrders() {
                let params = {
                    paginate: this.pagination.per_page,
                    page: this.pagination.current_page,
                };

                GroupOrder.designQueue(params)
                    .then(({data}) => {
                        this.groupOrders = data.data;

                        this.pagination.total = data.total;
                        this.pagination.per_page = data.per_page;
                        this.pagination.current_page = data.current_page;
                        this.pagination.last_page = data.last_page;
                        this.pagination.from = data.from;
                        this.pagination.to = data.to;
                    });
            },

            /**
             * Запустить работу для заказа
             */
            startWorking(order) {
                axios.patch(`/api/design/order/${order.id}/working`, {
                    'action': 'start'
                })
                    .then(response => {
                        // Set stop to all order
                        this.groupOrders.forEach(groupOrder => {
                            groupOrder.orders.forEach(order => {
                                order.designer_working = false;
                            });
                        });

                        // Start working on selected order
                        order.designer_working = response.data.designer_working;
                        order.designer_working_starttime = response.data.designer_working_starttime;
                    });
            },

            /**
             * Приостановить работу для заказа
             */
            stopWorking(order) {
                axios.patch(`/api/design/order/${order.id}/working`, {
                    'action': 'stop'
                })
                    .then(response => {
                        order.designer_working = response.data.designer_working;
                        order.designer_working_starttime = response.data.designer_working_starttime;
                    });
            },

            approveLayout(order) {

            },

            /**
             * Открывает загрузчик макетов для дизайнера
             *
             * @param order
             */
            openTemplateUploader(order) {
                helpers.redirect(`/order/${order.id}/upload/layout/start`);
            },

            showTechnicalTask(order) {
                order.specification.viewed = true;
            },

            /**
             * Проверяет условия, по которым дизайнер может или не может работать над заказом
             *
             * @param order
             * @returns {boolean}
             */
            designerCanWorkOnOrder(order) {
                if (order.specification) {
                    return order.specification.viewed;
                }

                return true;
            }
        },

        mounted() {
            this.fetchGroupOrders();
        }
    };
</script>

<style lang="scss" scoped>
    .tr-panel {
        .box {
            margin-bottom: 0;
        }
    }

    $color: black;

    .row-top {
        border-top: 2px solid $color;
    }

    .row-bottom {
        border-bottom: 2px solid $color;
    }

    .row-top,
    .row-middle,
    .row-bottom {
        border-left: 2px solid $color;
        border-right: 2px solid $color;

        & > td:last-child,
        & > th:last-child {
            border-right: 2px solid $color;
        }
    }
</style>
