<template>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-head">
                <th>№</th>
                <th>Продукт</th>
                <th>Параметры</th>
                <th>Цвет</th>
                <th class="text-center">Материал</th>
                <th>Тираж</th>
                <th>Постпресс</th>
                <th>Дата выдачи <i class="fa fa-arrow-down"></i></th>
                <th>Превью</th>
                <th>Действия</th>
            </tr>
        </thead>

        <tbody>
            <!-- Checkbox -->
            <tr v-for="order in orders">
                <!-- № -->
                <td class="td-id">
                    <order-link :order="order"></order-link>
                </td>

                <!-- Продукт -->
                <td class="td-product">
                    {{ order.product }}

                    <div v-show="order.sent_revision_at">
                        <span class="label label-warning">
                            <i class="fa fa-warning"></i>
                            Отправлен на переделку
                        </span>
                    </div>
                </td>

                <!-- Параметры -->
                <td class="td-params">
                    <div class="multiline-info">
                        <div class="line">{{ order.format }}</div>
                        <template v-if="order.multipage">
                            <template v-for="element in order.elements">
                                <div v-if="element.name == 'Внутренний блок'" class="line">
                                    {{ element.pages_number }} стр.
                                </div>

                                <div v-else class="line">
                                    +{{ element.name }}
                                </div>
                            </template>
                        </template>
                    </div>
                </td>

                <!-- Цвет -->
                <td class="td-chromacity">
                    <div class="multiline-info">
                        <div v-if="! order.multipage"
                             class="line"
                             v-text="order.chromacity"
                        ></div>

                        <template v-if="order.multipage">
                            <div class="line">&nbsp;</div>
                            <div v-for="element in order.elements" class="line">
                                {{ element.chromacity }}
                            </div>
                        </template>
                    </div>
                </td>

                <!-- Материал -->
                <td class="td-material">
                    <div class="multiline-info">
                        <div v-if="! order.multipage"
                             class="line"
                             v-text="order.material"
                        ></div>

                        <template v-if="order.multipage">
                            <div class="line">&nbsp;</div>
                            <div v-for="element in order.elements" class="line">
                                {{ element.material }}
                            </div>
                        </template>
                    </div>
                </td>

                <!-- Тираж -->
                <td class="td-draw">{{ order.draw }} шт.</td>

                <!-- Постпресс -->
                <td class="td-postpress">
                    <div class="line">{{ order.binding }}</div>
                    <div class="multiline-info" v-for="element in order.elements">
                        <div class="line"
                             v-for="operation in element.postpress"
                             v-text="operation"
                        ></div>
                    </div>
                </td>

                <!-- Дата выдачи -->
                <td class="td-close-date">
                    {{ order.issued_at | date_format('DD.MM.YYYY') }}
                </td>

                <!-- Превью -->
                <td class="td-status">
                    <thumbnail :url="order.preview"></thumbnail>
                </td>

                <!-- Действия -->
                <td class="td-actions">
                    <btn-block type="pickup"
                               v-show="order.canCollect"
                               @click="$emit('collect', order)"
                    >
                        <i class="fa fa-th-list"></i> Подобрать
                    </btn-block>

                    <btn-block type="decompose"
                               v-show="order.canDecompose"
                               @click="$emit('decompose', order)"
                    >
                        <i class="fa fa-th"></i> Разложить
                    </btn-block>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import BtnBlock from "../form/btn-block.vue";
    import OrderLink from "../html/OrderLink.vue";
    import Thumbnail from "../html/Thumbnail.vue";

    export default {
        components: { BtnBlock, OrderLink, Thumbnail },

        props: {
            orders: {
                type: Array,
                default() { return []; }
            }
        }
    };
</script>
