<template>
    <div class="perform-orders-table">

        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-head">
                    <th>№</th>
                    <th>Продукт</th>
                    <th>Формат</th>
                    <th>Цвет</th>
                    <th>Материал</th>
                    <th>Тираж</th>
                    <th>Постпресс</th>
                    <th>Дата выдачи</th>
                    <th>Превью</th>
                    <th>Действия</th>
                </tr>
            </thead>

            <tbody>
            <template v-for="performOrder in sortedPerformOrders">
                <tr :class="{ 'row-top': positionShowPerformOrderId == performOrder.id }">
                    <!-- Номер -->
                    <td class="td-id">{{ performOrder.number }}</td>

                    <!-- Продукт -->
                    <td class="td-product">
                        <div>{{ performOrder.product }}</div>

                        <span v-show="performOrder.revisioned" class="label label-warning">
                            <i class="fa fa-warning"></i> Отправлен на переделку
                        </span>
                    </td>

                    <!-- Формат печатного листа -->
                    <td class="td-params">{{ performOrder.print_sheet_format }}</td>

                    <!-- Цветность -->
                    <td class="td-chromacity">{{ performOrder.chromacity }}</td>

                    <!-- Материал -->
                    <td width="10%">{{ performOrder.material }}</td>

                    <!-- Тираж cборного листа -->
                    <td width="10%">{{ performOrder.draw }} шт.</td>

                    <!-- Постпресс -->
                    <td class="td-postpress">
                        <div v-for="process in performOrder.postpress_processes">
                            {{ process }}
                        </div>

                        <!-- Комментарий возврата на переделку -->
                        <div v-if="performOrder.revisioned" class="text-danger">
                            {{ performOrder.revision_comment }}
                        </div>
                    </td>

                    <!-- Дата выдачи -->
                    <td class="td-close-date">
                        {{ performOrder.issue_at | date_format('DD.MM.YYYY') }}
                    </td>

                    <!-- Превью -->
                    <td class="td-preview">
                        <thumbnail :url="performOrder.preview"
                                   @click="showPreviewModal(performOrder.preview)"
                        ></thumbnail>
                    </td>

                    <!-- Действия -->
                    <td class="td-actions">

                        <p class="text-small text-danger" v-show="performOrder.paused">
                            * Заказ приостановлен
                        </p>

                        <btn-block type="primary"
                                   v-show="performOrder.perform_order_status.id == 1"
                                   @click="showUploadDescentModal(performOrder)"
                                   :disabled="performOrder.paused"
                        >
                            <i class="fa fa-upload"></i> Загрузить спуск
                        </btn-block>

                        <btn-block :type="performOrder.paused ? 'success' : 'danger'"
                                   @click="showProcessingControlPanel(performOrder)"
                                   v-show="canControlOrderProcessing(performOrder)"
                                   :disabled="performOrder.paused && performOrder.paused_from != 'queue'"
                        >
                            <i :class="['fa', { 'fa-pause': ! performOrder.paused, 'fa-play': performOrder.paused }]"></i>
                            <span v-text="performOrder.paused ? 'Возобновить' : 'Приостановить'"></span>
                        </btn-block>

                        <btn-block type="primary"
                                   v-show="canDownloadDescent(performOrder)"
                                   @click="downloadDescent(performOrder)"
                        >
                            <i class="fa fa-download" aria-hidden="true"></i> Скачать спуск
                        </btn-block>

                        <btn-block type="success"
                                   v-show="canSendToPrint(performOrder)"
                                   @click="sendToPrint(performOrder)"
                        >
                            Отпечатан
                        </btn-block>

                        <div v-show="showPostpressActions(performOrder)" class="btn-block">
                            <btn-block v-for="postpress in performOrder.postpress_processes"
                                       type="success"
                                       @click="completePostpress(performOrder, postpress)"
                            >
                                {{ postpress }}
                            </btn-block>

                            <btn-block type="primary"
                                       @click="$emit('cut-postpress', performOrder)"
                                       v-show="! performOrder.revisioned"
                            >
                                Порезка в размер
                            </btn-block>

                            <btn-block type="primary" v-show="performOrder.revisioned"
                                       @click="$emit('cut-postpress', performOrder)"
                            >
                                Готов
                            </btn-block>
                        </div>
                    </td>
                </tr>

                <!-- Заголовок таблицы для позиций -->
                <tr v-show="positionShowPerformOrderId == performOrder.id"
                    :class="{ 'row-middle': positionShowPerformOrderId == performOrder.id, 'table-head': true }"
                >
                    <th class="td-id">№</th>
                    <th class="td-product">Продукт</th>
                    <th class="td-params">Формат</th>
                    <th class="td-cromacity">Цвет</th>
                    <th class="td-draw">Тираж</th>
                    <th width="10%">Раскладка</th>
                    <th class="td-postpress">Постпресс</th>
                    <th class="td-close-date">Дата выдачи</th>
                    <th class="td-preview">Превью</th>
                    <th class="td-actions">Статус</th>
                </tr>

                <!-- Позиции наряда -->
                <tr v-for="(element, index) in performOrder.elements"
                    v-show="positionShowPerformOrderId == performOrder.id && ! performOrder.single"
                    :class="{ 'row-middle': positionShowPerformOrderId == performOrder.id }"
                >
                    <!-- № -->
                    <td class="td-id">
                        {{ element.order_id }}.{{ element.id }}
                    </td>

                    <!-- Продукт -->
                    <td class="td-product"
                        v-text="element.name"
                    ></td>

                    <!-- Формат -->
                    <td class="td-params">{{ element.format }}</td>

                    <!-- Цвет -->
                    <td class="td-chromacity">{{ element.chromacity }}</td>

                    <!-- Тираж -->
                    <td width="10%">
                        <!-- Фактический тираж -->
                        <span class="badge">
                            {{ element.draw }} шт.
                        </span>
                    </td>

                    <!-- Раскладка -->
                    <td width="10%" class="text-center">
                        <!-- Фактическая раскладка -->
                        <span class="badge">
                            {{ element.perform_layout }} шт/лст
                        </span>
                    </td>

                    <!-- Постпресс -->
                    <td class="td-postpress">
                        <p v-for="operation in element.postpress">
                            {{ operation }}
                        </p>
                    </td>

                    <!-- Дата выдачи -->
                    <td class="td-close-date">
                        {{ element.order.close_date | unixDate('DD.MM.YY') }}
                    </td>

                    <!-- Превью -->
                    <td class="td-preview">
                        <!-- Превью -->
                        <div class="text-center">
                            <thumbnail :url="element.preview"></thumbnail>
                        </div>
                    </td>

                    <!-- Статус -->
                    <td class="td-actions">
                        <span class="label label-default"
                              :style="{ 'background-color': '#'+element.status.color, 'color': 'white' }"
                        >
                            {{ element.status.name }}
                        </span>

                        <div v-show="element.order.sent_revision_at">
                            <span class="label label-warning">
                                <i class="fa fa-warning"></i>
                                Отправлен на переделку
                            </span>
                        </div>
                    </td>
                </tr>

                <tr :class="{ 'row-bottom': positionShowPerformOrderId === performOrder.id }"
                    v-show="! performOrder.single"
                >
                    <td colspan="12" class="no-padding">
                        <button class="btn btn-default btn-xs btn-block"
                                @click="togglePerformOrderPositions(performOrder)"
                                :disabled="performOrder.elements.length === 0"
                        >
                            <span v-show="positionShowPerformOrderId !== performOrder.id">
                                <i class="fa fa-arrow-down"></i>
                                Показать детали ({{ performOrder.elements.length }})
                            </span>

                            <span v-show="positionShowPerformOrderId === performOrder.id">
                                <i class="fa fa-arrow-up"></i>
                                Скрыть детали ({{ performOrder.elements.length }})
                            </span>
                        </button>
                    </td>
                </tr>

                <tr class="tr-divider" v-show="performOrder.single">
                    <td colspan="12"></td>
                </tr>

                <processing-control-panel
                        title="Коментарий"
                        v-show="processingControlPanel.performOrder === performOrder.id"
                        @close="closeProcessingControlPanel"
                        @confirmed="comment => { toggleProcessingStatus(performOrder, comment) }"
                        :paused="performOrder.paused"
                ></processing-control-panel>
            </template>
            </tbody>
        </table>

        <!-- Модальное окно просмотра изображения -->
        <modal title="Просмотр изображения" :show="imagePreviewModal.show" @close="imagePreviewModal.show = false">
            <img :src="imagePreviewModal.imageUrl" alt="" class="img-responsive">
        </modal>

        <upload-descent-modal :show="uploadDescentModal.show"
                              @close="closeUploadDescentModal"
                              :perform-order="uploadDescentModal.performOrder"
                              @uploaded="descentUploaded"
        ></upload-descent-modal>
    </div>
</template>

<script>
    import Modal from "../Modal";
    import OrderLink from "../html/OrderLink";
    import BtnBlock from "../form/btn-block.vue";
    import Thumbnail from "../html/Thumbnail.vue";
    import PerformOrder from './../../models/PerformOrder';
    import UploadDescentModal from "../modals/UploadDescentModal.vue";
    import ProcessingControlPanel from "./../html/ProcessingControlPanel.vue";

    export default {
        data() {
            return {
                positionShowPerformOrderId: null,
                imagePreviewModal: {
                    show: false,
                    imageUrl: null
                },

                uploadDescentModal: {
                    show: false,
                    performOrder: null
                },

                processingControlPanel: {
                    performOrder: null,
                    paused: false
                },
            }
        },

        props: {
            performOrders: {
                type: Array,
                default() { return []; }
            }
        },

        components: { Modal, OrderLink, Thumbnail, BtnBlock, ProcessingControlPanel, UploadDescentModal },

        computed: {
            sortedPerformOrders() {
                return _.orderBy(this.performOrders, ['paused', 'issue_at.date'], ['asc', 'asc']);
            }
        },

        methods: {
            /**
             * Toggle showing perform order positions
             */
            togglePerformOrderPositions(performOrder) {
                if (this.positionShowPerformOrderId == performOrder.id) {
                    return this.positionShowPerformOrderId = null;
                }

                this.positionShowPerformOrderId = performOrder.id;
            },

            /**
             * Показать окно загрузки спуска
             */
            showUploadDescentModal(performOrder) {
                this.uploadDescentModal.show = true;
                this.uploadDescentModal.performOrder = performOrder;
            },

            /**
             * Закрытие окна загрузки спуска
             */
            closeUploadDescentModal() {
                this.uploadDescentModal.show = false;
                this.uploadDescentModal.performOrder = null;
            },

            /**
             * Descent uploaded
             */
            descentUploaded(performOrder) {
                this.closeUploadDescentModal();
                this.$emit('descent-uploaded', performOrder);
            },

            /**
             * Скачивает прикреплённый спуск
             *
             * @param performOrder
             */
            downloadDescent(performOrder) {
                PerformOrder.downloadDescent(performOrder)
                    .then(response => {
                        let newPerformData = response.data;
                        performOrder.perform_order_status = newPerformData.perform_order_status;
                        performOrder.elements = newPerformData.elements;
                        downloadFile(newPerformData.descent_path);
                    });
            },

            /**
             * Отпечатан
             *
             * @param performOrder
             */
            sendToPrint(performOrder) {
                PerformOrder.sendToPrint(performOrder)
                    .then(response => {
                        let index = this.performOrders.indexOf(performOrder);
                        this.performOrders.splice(index, 1);
                    });
            },

            /**
             * Set complete postpress for perform order
             *
             * @param {object} performOrder
             * @param {string} postpressName
             */
            completePostpress(performOrder, postpressName) {
                this.$emit('complete-postpress', performOrder, postpressName);
            },

            /**
             * Show preview image modal
             * @param imageUrl
             */
            showPreviewModal(imageUrl) {
                this.imagePreviewModal.show = true;
                this.imagePreviewModal.imageUrl = imageUrl;
            },

            showPostpressActions(performOrder) {
                if (performOrder.paused) {
                    return false;
                }

                if (performOrder.perform_order_status.id != 4) {
                    return false;
                }

                if (performOrder.collect_order_id) {
                    return performOrder.collected;
                }

                return true;
            },

            /**
             * Show processing control panel for performOrder
             *
             * @param performOrder
             */
            showProcessingControlPanel(performOrder) {
                this.processingControlPanel.performOrder = performOrder.id;
            },

            /**
             * Close current active processing control panel
             */
            closeProcessingControlPanel() {
                this.processingControlPanel.performOrder = null;
            },

            /**
             * Change perform order processing status
             *
             * @param performOrder
             * @param comment
             */
            toggleProcessingStatus(performOrder, comment) {
                let pause = ! performOrder.paused;

                PerformOrder.changeProccessingStatus(performOrder.id, pause, comment)
                    .then(({data}) => {
                        this.closeProcessingControlPanel();
                        performOrder.paused = data.perform_order.paused;
                    })
                    .catch(error => alert(error.message));
            },

            canDownloadDescent(performOrder) {
                return ! performOrder.paused && (performOrder.perform_order_status.id == 3 || performOrder.perform_order_status.id == 2);
            },

            canSendToPrint(performOrder) {
                return ! performOrder.paused && (performOrder.perform_order_status.id == 3);
            },

            canControlOrderProcessing(performOrder) {
                return [2, 3, 4].indexOf(performOrder.perform_order_status.id) !== -1;
            }
        }
    };
</script>

<style lang="scss">
    .tr-divider {
        background-color: #f4f4f4;
    }
</style>
