<template>
    <div class="designer-queue-table">
        <!-- Существующие наряды -->
        <perform-orders-table :perform-orders="performOrders"
                              v-show="performOrders.length > 0"
                              @descent-uploaded="descentUploaded"
        ></perform-orders-table>

        <!-- Параметры раскладки -->
        <box title="Параметры раскладки" @close="cancelDecomposition" v-show="decompositionStarted">
            <alert :message="errors" type="danger" v-show="errors.length"></alert>

            <decomposition-params v-model="decomposition.filters"
                                  :chromacity-items="chromacityItems"
                                  :cover="coverType"
                                  :slew="decompositionSlew"
            ></decomposition-params>
        </box>

        <!-- Наряд на спуск полос -->
        <decomposition-sheet v-if="decompositionStarted"
                     :perform-order="performOrderData"
                     :elements="performOrderElements"
                     :filters="decomposition.filters"
                     @download="createPerformOrder"
        ></decomposition-sheet>

        <!-- Фильтр параметров подбора -->
        <box title="Параметры подбора" @close="cancelCollection" v-show="collectionStarted">
            <alert :message="errors" type="danger" v-show="errors.length"></alert>

            <collection-params v-model="collection.filters"
                               :chromacity-items="chromacityItems"
            ></collection-params>
        </box>

        <!-- Наряд на сборный лист -->
        <collection-sheet v-if="collectionStarted"
                          :elements="elements"
                          :perform-order="performOrderData"
                          :filters="collection.filters"
                          @create-perform-order="createCollectionPerformOrder"
                          :selected-element-id="firstSelectedElement"
        ></collection-sheet>

        <!-- Список заказов -->
        <div class="table-responsive" v-show="tableOrdersVisible">
            <table-orders :orders="orders"
                          @decompose="startDecomposition"
                          @collect="startCollection"
            ></table-orders>
        </div>
    </div>
</template>


<script>
    import Filter from "../QueueFilter";
    import Order from "../../models/Order";
    import TableOrders from "../tables/Orders.vue";
    import DecompositionSheet from "./DecompositionSheet.vue";
    import PerformOrder from "../../models/PerformOrder";
    import PerformOrdersTable from "./PerformOrders.vue";
    import CollectionParams from "../CollectionParams.vue";
    import ValidationError from "../../core/ValidationError";
    import DecompositionParams from "../DecompositionParams.vue";
    import DecompositionFilter from "../../app/DecompositionFilter";
    import CollectionSheet from "./CollectionSheet.vue";
    import OrderElement from "../../models/OrderElement";

    export default {
        data() {
            return {
                errors: [],
                orders: [],
                elements: [],
                performOrders: [],
                chromacity: [],
                performOrderPreview: '/images/thumb.png',

                decomposition: {
                    startWith: null,
                    filters: new DecompositionFilter()
                },

                collection: {
                    startWith: null,
                    filters: new Filter()
                }
            };
        },

        components: {
            TableOrders, DecompositionParams, DecompositionSheet, PerformOrdersTable,
            CollectionParams, CollectionSheet
        },

        computed: {
            /**
             * Цветность для фильтра
             */
            chromacityItems() {
                if (this.decompositionStarted) {
                    let elements = this.decomposition.startWith.elements;
                    let items = elements.map(element => element.chromacity);

                    return [...new Set(items)];
                }

                return this.chromacity;
            },

            // Кол-во разворотов
            turnCount() {
                if (this.decompositionStarted) {
                    if (this.performOrderElements.length) {
                        // Кол-во разворотов
                        if (this.decomposition.startWith.binding === 'на скрепке') {
                            return this.performOrderElements[0].pages_number / 2;
                        } else if (this.decomposition.startWith.binding === 'на пружине') {
                            return this.performOrderElements[0].pages_number;
                        }
                    }
                }

                return 1;
            },

            /**
             * Данные нового создаваемого наряда
             */
            performOrderData() {
                let started = this.decompositionStarted
                    ? this.decomposition.startWith
                    : this.collection.startWith;

                let printSheetFormat = this.decompositionStarted
                    ? this.decomposition.filters.printSheetFormat
                    : this.collection.filters.printSheetFormat;

                let draw  = null;

                // Тираж для раскладки
                if (this.decompositionStarted) {
                    if (this.performOrderElements.length) {

                        // Подбором
                        if (this.decomposition.filters.descent === 'picking') {
                            draw = Math.ceil(this.turnCount / 2 / this.decomposition.filters.layout);
                        }

                        // Двойниками
                        if (this.decomposition.filters.descent === 'dobles') {
                            draw = Math.ceil(this.turnCount / 2);
                        }

                        // Тетрадями
                        if (this.decomposition.filters.descent === 'notebooks') {
                            // @todo
                        }
                    }
                }

                return {
                    product: this.decompositionStarted ? 'Спуск полос' : 'Сборный лист',
                    chromacity: started.chromacity || null,
                    print_sheet_format: printSheetFormat || null,
                    draw: draw,
                    material: started.material || null,
                    postpress_processes: started.postpress_operations || [],
                    issue_at: started.issue_at || null,
                    preview: this.performOrderPreview
                };
            },

            /**
             * Хранит состояние процесса декомпозиции
             */
            decompositionStarted() {
                return this.decomposition.startWith !== null;
            },

            /**
             * Хранит состояние процесса подбора
             */
            collectionStarted() {
                return this.collection.startWith !== null;
            },

            /**
             * Элементы выбранного заказа для декомпозиции
             */
            decompositionElements() {
                if (! this.decompositionStarted) {
                    return [];
                }

                let elements = this.decomposition.startWith.elements;

                // Отсеивание элементов у которых другой материал, цветность и постпресс
                elements = elements.filter((element, index, array) => {
                    let innerBlock = array[0];

                    return element.material === innerBlock.material
                        && this.decomposition.filters.chromacity.indexOf(element.chromacity) !== -1
                        && _.difference(element.postpress, innerBlock.postpress).length === 0;
                });

                // Расчёты для элементов
                return elements.map(element => {
                    element.layout = this.decomposition.filters.layout;

                    return element;
                });
            },

            performOrderElements() {
                if (this.decompositionStarted) {
                    return this.decompositionElements;
                }

                return this.elements;
            },

            /**
             * Тип обложки
             */
            coverType() {
                let cover = this.decompositionElements.filter(element => {
                    return element.name === 'Обложка';
                });

                return cover.length === 1 ? 'its-cover' : 'another-cover';
            },

            /**
             * Разворот изделия
             */
            decompositionSlew() {
                if (! this.decompositionStarted) {
                    return null;
                }

                if (this.decomposition.startWith.binding === 'на скрепке') {
                    let format = this.decomposition.startWith.format.split('x');
                    let width = format[0];
                    let height = format[1];

                    if (width > height) {
                        return width + 'x' + height * 2;
                    } else {
                        return width * 2 + 'x' + height;
                    }
                }

                return this.decomposition.startWith.format;
            },

            /**
             * Видимость таблицы со списком заказов
             */
            tableOrdersVisible() {
                return ! this.decompositionStarted && ! this.collectionStarted;
            },

            firstSelectedElement() {
                let firstOrder = this.collection.startWith;

                if (firstOrder.elements.length) {
                    return firstOrder.elements[0].id;
                }

                return null;
            }
        },

        methods: {
            /**
             * Get filtered orders from server
             */
            fetchOrders() {
                let filter = Object.assign({
                    status_id: [25, 30]
                }, this.filter);

                Order.all(filter)
                    .then(({data}) => this.orders = data);
            },

            /**
             * Декомпозиция заказа
             *
             * @param order
             */
            startDecomposition(order) {
                let firstElement = order.elements[0];
                this.decomposition.startWith = order;
                this.decomposition.filters.sheet = firstElement.material;
                this.decomposition.filters.chromacity = [firstElement.chromacity];
            },

            /**
             * Отмена декомпозиции
             */
            cancelDecomposition() {
                this.decomposition.startWith = null;
                this.errors = [];
            },

            /**
             * Подбор заказаов
             */
            startCollection(order) {
                let element = order.elements[0];

                axios.get('/api/order-elements/chromacity')
                    .then(response => this.chromacity = response.data);

                this.collection.startWith = order;
                this.collection.filters.sheet = element.material;
                this.collection.filters.format = element.format;
                this.collection.filters.chromacity = [element.chromacity];
                this.collection.filters.postpress = element.postpress;
            },

            /**
             * Отмена процесса подбора
             */
            cancelCollection() {
                this.collection.startWith = null;
                this.errors = [];
            },

            /**
             * Создание нового наряда
             */
            createPerformOrder() {
                let data = this.performOrderData;
                data.elements = this.decompositionElements;

                axios.post(Route.store_perform_order, data)
                    .then(response => {
                        this.performOrders.push(response.data);
                        this.cancelDecomposition();
                        this.fetchOrders();
                        window.location = response.data.templates_path;
                    })
                    .catch(error => {
                        this.errors = ValidationError.fromResponse(error.response).toArray();
                    });
            },

            /**
             * Создание наряда на сборный лист
             */
            createCollectionPerformOrder(performOrderData) {
                PerformOrder.store(performOrderData)
                    .then(({data}) => {
                        let newPerformOrder = data;
                        this.cancelCollection();
                        this.performOrders.push(newPerformOrder);
                        this.fetchOrders();
                        window.location = newPerformOrder.templates_path;
                    })
                    .catch(error => {
                        this.errors = ValidationError.fromResponse(error.response).toArray();
                    });
            },

            /**
             * Спуск загружен
             */
            descentUploaded() {
                this.fetchPerformOrders();
            },

            /**
             * Get perform orders from server
             */
            fetchPerformOrders() {
                PerformOrder.all({
                    status_id: 1
                })
                    .then(({data}) => this.performOrders = data);
            },

            /**
             * Get filtered elements from server
             */
            fetchElements() {
                OrderElement.all(this.collection.filters)
                    .then(({data}) => this.elements = data);
            }
        },

        mounted() {
            this.fetchOrders();
            this.fetchPerformOrders();

            this.$watch('collection.filters', (changedFilter) => {
                this.fetchElements();
            }, {
                deep: true
            });

            this.$watch('collection.filters.printSheetFormat', (format) => {
                // calculate layout
                axios.get('/api/perform-order/layout', {
                    params: {
                        width: format.width,
                        height: format.height,
                        format: this.collection.startWith.format
                    }
                })
                    .then(response => {
                        this.collection.filters.layout = response.data.layout;
                        this.performOrderPreview = response.data.preview;
                    });
            }, {
                deep: true
            });

            this.$watch('decomposition.filters.printSheetFormat', (format) => {
                // calculate layout
                axios.get('/api/perform-order/layout', {
                    params: {
                        binding: this.decomposition.startWith.binding,
                        turnCount: this.turnCount,
                        decompositionSlew: this.decompositionSlew,
                        width: format.width,
                        height: format.height,
                        format: this.decomposition.startWith.format
                    }
                })
                    .then(response => {
                        this.decomposition.filters.layout = response.data.layout;
                        this.performOrderPreview = response.data.preview;
                    });
            }, {
                deep: true
            });
        }
    };
</script>
