<template>
    <div class="queue-print-table">
        <perform-orders-table :perform-orders="performOrders"></perform-orders-table>
    </div>
</template>

<script>
    import PerformOrdersTable from './PerformOrders.vue';
    import PerformOrder from './../../models/PerformOrder';

    export default {
        data() {
            return {
                performOrders: []
            }
        },

        components: { PerformOrdersTable },

        mounted() {
            let filter = {
                status_id: [2, 3]
            };

            PerformOrder.all(filter)
                .then(({data}) => {
                    this.performOrders = data;
                })
        }
    };
</script>
