<template>
    <div class="queue-postpress-table">
        <perform-orders-table :perform-orders="performOrders"
                              @complete-postpress="completePostpress"
                              @cut-postpress="cutPostpress"
        ></perform-orders-table>
    </div>
</template>

<script>
    import PerformOrdersTable from './PerformOrders.vue';
    import PerformOrder from './../../models/PerformOrder';

    export default {
        data() {
            return {
                performOrders: []
            }
        },

        components: { PerformOrdersTable },

        methods: {
            fetchPerformOrders() {
                let filter = {
                    status_id: 4
                };

                PerformOrder.all(filter)
                    .then(({data}) => {
                        this.performOrders = data;
                    })
            },

            completePostpress(performOrder, postpressName) {
                axios.patch(`/api/perform-order/${performOrder.id}/complete-postpress`, {
                    element_ids: performOrder.elements.map(element => element.id),
                    postpress: postpressName
                })
                    .then(({data}) => {
                        this.fetchPerformOrders();
                    });
            },

            cutPostpress(performOrder) {
                axios.patch(`/api/perform-order/${performOrder.id}/cut`)
                    .then(response => {
                        this.fetchPerformOrders();
                    });
            }
        },

        mounted() {
            this.fetchPerformOrders();
        }
    };
</script>
