/* register */
.register-area {
    max-width: 592px;
    margin: 5% auto;
    background-color: #fff;
    padding-bottom: 27px;
}
.register-area h2{
    text-align: center;
    font-size: 24px;
    margin-bottom: 28px;
}
.register-area .select2 {
    width: 100%!important;
}
.register-area .btn-register{
    width: 200px;
}
.register-area .select2 .select2-selection{
    border-radius: 0;
    height: 35px;
    border: 1px solid #D2D6DE;
}
.register-area .select2 .select2-selection__arrow {
    top: 4px;
    right: 7px;
}
.register-box-msg{
    margin-bottom:6px;
}
.register-logo{
    margin: 0px;
}
.register-box{
    margin-bottom: 0px;
}
.btn-static {
  background-color: white;
  border: 1px solid lightgrey;
  cursor: default;
}
.btn-static:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}

.tags-shablon {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 8px;
}

.tags-shablon > a {
    margin-right: 10px;
    margin-bottom: 3px;
    line-height: 25px;
}

/*card*/
#card .user-avatar{
    text-align: center;
}
#card .users-list-name{
    text-align: center;
    font-size: 16px;
}
#card .btn-full-width{
    width: 100%;
}
#card .form-group-title{
    line-height: 34px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}
#card .contacts-list li{
    padding: 0px;
    border-bottom: 1px solid #eee;
}
#card .contacts-list li a{
    display: block;
    padding: 10px;
}
#card .contacts-list li a:hover{
    background-color: #eee;
}
#card .orders-list .actions{
    text-align: center;
}
#card #tab_2 .box-header{
    height: 50px;
}
#card #tab_2 .pagination{
    margin-right: 10px !important;
}
#card .nav-tabs .has-debt{
    float: right;
}
#card .nav-tabs .has-debt button i{
    margin-right: 5px;
}
#card .comapny-controls a.btn{
    margin-left: 5px;
}
#card .input-group{
    width: 100%
}
#card .input-group .input-group-addon{
    width: 39px;
}
#card .with-informer{
    position: relative;
}
#card .with-informer .success-inform{
    position: absolute;
    right: 25px;
    top: 10px;
}
#card #tab_4 .table td a{
    line-height: 34px;
}
/*
    #table_history
*/
#table_history .box_group {
    cursor: pointer;
}
#table_history .top_group_box_sub {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}
#table_history .top_group_box_sub > th {
    border-top: 1px solid black !important;
}
#table_history .top_group_box_sub > th:last-child {
    border-right: 1px solid black !important;
}
#table_history .active_box > td {
    border-top-width: 0px !important;
}
#table_history .active_box > td:last-child,
#table_history tr.row-border-left-right > td:last-child {
    border-right: 1px solid black !important;
}
#table_history .active_box > td:first-child,
#table_history tr.row-border-left-right > td:first-child {
    border-left: 1px solid black !important;
}
#table_history {
    width: 99.8%;
    /* margin: auto;*/
    margin-left: 1px;
}
#table_history .left-border {
    border-left: 1px solid black !important;
}
#table_history .rigth-border {
    border-right: 1px solid black !important;
}
#table_history .max-preview-img-size {
    max-height: 50px;
    max-width: 100px;
}
#table_history .production-invoice {
    margin-bottom: 7px;
    display: block;
}

.client-form textarea {
    height: 83px;
}

.client-picture-box {
    position: relative;
}

.client-picture-box .btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.contact-profile {
    margin-bottom: 20px;
}

.client-card {
    position: relative;
}

.client-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
}

.client-card .overlay .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

#change-photo.error {
    box-shadow: 0 0 0 2px red;
    border-radius: 49%;
}

select.client_type{
    width: 240px;
}

.connections-field {

}

.connections-field .connection-item {

}

.connections-field .connection-item .btn,
.connections-field .connection-item .form-control {

}

.contact-profile {

}

.contact-profile .contact-picture-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.contact-profile .contact-avatar {

}

.contact-information {
    text-align: center;
}

.small-box .inner {
    height: 126px;
}

@media (min-width: 1200px) {
    .contact-profile .contact-picture-wrapper {
        float: left;
    }

    .contact-information {
        text-align: right;
    }
}

.image-rounded {
    border-radius: 50%;
}
.dashboard-top-buttons .small-box {
    position: relative;
    padding-bottom: 26px;
}
.dashboard-top-buttons .small-box h3 {
    margin-bottom: 43px;
}
.dashboard-top-buttons .small-box .small-box-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.dashboard-top-buttons .box-approval {
    background: rgba(0, 192, 239, 0.2);
    color: #006e89;
}
.dashboard-top-buttons .box-approval:hover, .dashboard-top-buttons .box-approval.active {
    background: #00c0ef;
    color: white;
}
.dashboard-top-buttons .box-approval .small-box-footer {
    background: #00c0ef;
}
.dashboard-top-buttons .box-approval .ion {
    color: #0083a3;
}
.dashboard-top-buttons .box-need_attention {
    background: rgba(221, 75, 57, 0.2);
    color: #96271a;
}
.dashboard-top-buttons .box-need_attention:hover, .dashboard-top-buttons .box-need_attention.active {
    background: #dd4b39;
    color: white;
}
.dashboard-top-buttons .box-need_attention .small-box-footer {
    background: #dd4b39;
}
.dashboard-top-buttons .box-need_attention .ion {
    color: #ac2d1e;
}
.dashboard-top-buttons .box-ready {
    background: rgba(243, 156, 18, 0.2);
    color: #976008;
}
.dashboard-top-buttons .box-ready:hover, .dashboard-top-buttons .box-ready.active {
    background: #f39c12;
    color: white;
}
.dashboard-top-buttons .box-ready .small-box-footer {
    background: #f39c12;
}
.dashboard-top-buttons .box-ready .ion {
    color: #b06f09;
}
.dashboard-top-buttons .box-waiting_payment {
    background: rgba(0, 166, 90, 0.2);
    color: #004023;
}
.dashboard-top-buttons .box-waiting_payment:hover, .dashboard-top-buttons .box-waiting_payment.active {
    background: #00a65a;
    color: white;
}
.dashboard-top-buttons .box-waiting_payment .small-box-footer {
    background: #00a65a;
}
.dashboard-top-buttons .box-waiting_payment .ion {
    color: #005a31;
}

textarea.comments {
    height: 83px;
}

.contact-link, .contact-phone {
    text-decoration: underline;
    color: gray;
    font-size: 13px;
}

.contact-phone {
    cursor: pointer;
}

.themes-selector {
    columns: 4;
}
.colors-selector {
    columns: 2;
}

.table caption {
    text-align: center;
    color: #0088cc;
    font-size: 14px;
    text-transform: uppercase;
}
.max-preview-img-size {
    max-height: 50px;
    max-width: 100px;
}
/* history */
#table_history {
    width: calc(100% - 2px);
    margin-left: 1px;
}

/* table-personal-orders */
.table-personal-orders .top_group_box_sub > th {
    border-top: 1px solid black !important;
}
.table-personal-orders .top_group_box_sub > th:last-child {
    border-right: 1px solid black !important;
}
.table-personal-orders .active_box > td {
    border-top-width: 0px !important;
}
.table-personal-orders .active_box > td:last-child {
    border-right: 1px solid black !important;
}
.table-personal-orders .active_box > .td_cone {
    border-left: 1px solid black !important;
}

/* personal-payment */
.personal-payment .orders_list_item {
//background-color: #dfe2e4;
    display:none;
}
.personal-payment .active_row{
    display: table-row;
}
.personal-payment tr.active_box {
    border-top: 1px solid rgb(125, 125, 125) !important;
}
.personal-payment .active_row_last td{
    border-bottom: 1px solid rgb(125, 125, 125) !important;
}
.personal-payment .active_box  th:first-child,
.personal-payment .active_box  td:first-child,
.personal-payment .active_row  th:first-child,
.personal-payment .active_row  td:first-child {
    border-left: 1px solid rgb(125, 125, 125) !important;;
}
.personal-payment .active_box  th:last-child,
.personal-payment .active_box  td:last-child,
.personal-payment .active_row  th:last-child,
.personal-payment .active_row  td:last-child {
    border-right: 1px solid rgb(125, 125, 125) !important;
}
.personal-payment .active_head,
.personal-payment .active_head:hover {
    background-color: rgb(223, 226, 228);
}
.personal-payment .active_box  td {
    border-top-width: 0px !important;
}
.personal-payment .table-payment th {
    border-bottom: none;
}
.personal-payment .table-payment > tbody > tr > td {
    border-top: none !important;
}
.personal-payment .table-payment > tbody > tr {
    border-top: 1px solid #f4f4f4;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.personal-payment .table-payment > tbody > tr:first-child {
    border-top: 2px solid #ECECEC;
}

.btn-actions > .btn {
    margin-right: 5px;
}
.btn-cancel {
    border-color: #000;
    background-color: #fff;
    color: #000;
    margin-right: 5px;
}
.btn-cancel:hover {
    background-color: #fff;
    color: #000;
}
.gallery .gallery-image .img-wrapper {
    position: relative;
}
.gallery .gallery-image .selectTemplate {
    display: block;
    cursor: pointer;
}
.gallery .gallery-image .img-wrapper > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gallery-preview {
    border: 1px solid rgb(221, 221, 221);
    transition: opacity .3s;
}
.gallery-preview.is-second {
    opacity: 0;
}
.gallery .gallery-image .selectTemplate.has-two-side:hover .gallery-preview.is-second {
    opacity: 1;
}
.gallery .gallery-image .selectTemplate.has-two-side:hover .gallery-preview.is-first {
    opacity: 0;
}
img.is-grayscale {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.right-border {
    border-right: 1px solid black !important;
}
.text-small {
    font-size: 90%;
}
.settings-1s {
    margin-top: 20px;
}

/* upload */
.wrapper.upload {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.wrap-block {
    height: calc(100% - 50px);
    display: flex;
    background-color: #dee4ee;
}
.wrap-block .edit-content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: overlay;
}
.wrap-block .edit-content .upload-item {
    margin: 10px;
}
.wrap-block .edit-content .upload-item canvas{
    border: solid 1px #404040;
}
.wrap-block .edit-content .upload-item .title {
    width: 105px;
}
.portlet-placeholder {
   border: 1px dotted black;
   margin: 10px;
   width: 150px;
   height: 144px;
}
.portlet-wrapper{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 10px rgba(138, 138, 138, 0.7);
}
.wrap-block .edit-content .empty-item {
    height: 100px;
    background-color: #D0D0D0;
    border: solid 1px #404040;
}
.wrap-block .edit-content h4.empty {
    width: 100%;
    text-transform: uppercase;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    color: #aaa;
}
.wrap-block .aside-right{
    height: 100%;
    width: 500px;
    min-width: 500px;
    background-color: #fff;
    padding: 20px 20px 20px 28px;
    display: flex;
    flex-direction: column;
}
.wrap-block .aside-right h1 {
    color: #375991;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2em;
    padding-bottom: 10px;
    text-align: center;
}
.count-error-message {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.2em;
    padding-bottom: 10px;
    text-align: center;
    margin-top:70px;
}
.count-error-message .big-number {
    font-size:82px;
    padding-top:30px;
    display: block;
}
.count-error-message .red-color {
    color: #DA3E3E;
}
.count-error-message .green-color {
    color: #2BBB2F;
}
.wrap-block .aside-right .question-title {
    color: #333c4b;
    font-weight: bold;
    padding: 20px 0;
    font-size: 1.35em;
    font-family: 'PT Sans',
}
.wrap-block .aside-right .select-buttons {
    text-align: center;
}
.wrap-block .aside-right .select-buttons .radiocheck {
    display: inline-block;
    padding-right:20px;
}
.radiocheck .minimal {
    opacity: 0;
    margin-left: 5px;
}
.wrap-block .aside-right .spec-group {
    display: flex;
    flex: 1 1 auto;
    flex-shrink: 1;
}
.wrap-block .aside-right .specification {
    width: 100%;
    resize: none;
    display: flex;
    flex: 1 1 auto;
}
.wrap-block .aside-right .specification.showed {
    height: 300px;
    cursor: initial;
}
.wrap-block .aside-right .wrap-block .aside-right-group {
    margin-bottom: 30px;
}
.wrap-block .aside-right .add-link{
    margin: 3px 0;
}
.wrap-block .aside-right .add-link button{
    width: 37px;
    height: 34px;
}
.wrap-block .aside-right .add-link .btn-static {
    background-color: #fff;
    color: #449d44;
}
.wrap-block .aside-right .upload-outer {
    min-height: 210px;
}
.wrap-block .aside-right .upload {
    text-align: center;
    padding: 10px;
    margin-bottom: 17px;
    border: 1px dashed #4b8df8;
    position: relative;
    cursor: pointer;
}
.wrap-block .aside-right .upload .btn {
    font-size: 2em;
    width: 100%;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: .2em;
    border: none;
    margin: 5px 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wrap-block .aside-right .upload .btn:hover {
    background-color: #1b5dc8;
}
.wrap-block .aside-right .upload .btn-primary {
    background-color: #4b8df8;
}
.wrap-block .aside-right .upload p {
    margin: .2em 0;
}
.wrap-block .aside-right .upload .blue-down-arrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAyCAYAAAA9ZNlkAAAABmJLR…UH4MoZxKR4qrWI0HMGsSkeK/j//z/ZeOXhd/9zZj78T4kZABN3lhL0wo5yAAAAAElFTkSuQmCC);
    height: 50px;
    width: 32px;
    display: inline-block;
}
.wrap-block .aside-right .upload .upload-btn input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
.wrap-block .aside-right .upload .big-blue-text {
    color: #4b8df8;
    font-size: 2em;
    line-height: 1em;
}
.wrap-block .aside-right .upload p {
    margin: .2em 0;
    font-size: 1.1em;
}
.wrap-block .bottom-btn-panel{
    display: flex;
    flex: 1 1 auto;
    align-items: flex-end;
}
/* pdf viewer */
.wrap-block .pdfviewer {
    height:100%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #aaa;
}
.wrap-block .contractors .empty {
    position: absolute;
    top: 45%;
}

.status-box{
    border: 1px solid #5D5D5D;
    padding: 3px;
    display: inline-flex;
    justify-content: center;
    border-radius: 2px;
}
.contractor-order h3{
    margin: 20px 0 25px 20px;
}
.contractor-order .row{
    margin-bottom: 15px;
    margin-left: 7px;
}
/* upload */
.upload-item {
    margin: 10px;
    position: relative;
}
.upload-item p {
    margin: 0 0 2px;
}
.upload-item canvas{
    border: solid 1px #404040;
}
.upload-item .position {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    z-index: 10;
    text-align: center;
    background-color: #fff;
    /* border-right: solid 1px #525252; */
    /* border-top: solid 1px #525252; */
}
.upload-item .upload-preview {
    background-color: #CFD1D2;
    border: 1px solid #525252;
    width: 150px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.upload-item .upload-preview img{
    width: auto;
    height: auto;
    max-width: calc(100% - 6px);
    max-height: calc(100% - 6px);
    box-shadow: 0 5px 15px rgba(138, 138, 138, 0.5);
}
.upload-item .delete a{
    cursor: pointer;
}
.upload-item .title {
    width: 105px;
    color: #313131;
}
.upload-error .upload-preview {
    background-color: #E5B2BA;
    border: 1px solid #c42020;
    height: 144px;
}
.upload-error .title {
    margin-top: 8px;
    padding: 0px;
}
.in-progress {
    vertical-align: bottom !important;
}
.in-progress .progressbar{
    width: 100%;
    background-color: rgba(107, 58, 142, 0.4);;
}
.in-progress-circle .progressbar{
    /*width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0,0,0,0);*/
}
.in-progress-circle .progressbar .overlay{
    /*z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;*/
}
/* widgets */
.widget-code {
    margin-top:20px;
    height:200px !important;
    resize: none;
}
.widget-registration-save-panel {
    height: 260px;
    margin-top: 30px;
}
/* margins and paddings*/
.m0 {margin: 0;}
.m10 {margin: 10px;}
.m20 {margin: 20px;}
.m30 {margin: 30px;}
.m50 {margin: 50px;}
.mt0 {margin-top: 0;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt50 {margin-top: 50px;}
.mb0 {margin-bottom: 0;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb50 {margin-bottom: 50px;}
.ml0 {margin-left: 0;}
.ml10 {margin-left: 10px;}
.ml20 {margin-left: 20px;}
.ml30 {margin-left: 30px;}
.ml50 {margin-left: 50px;}
.mr0 {margin-right: 0;}
.mr10 {margin-right: 10px;}
.mr20 {margin-right: 20px;}
.mr30 {margin-right: 30px;}
.mr50 {margin-right: 50px;}
.mtb0 {margin-top: 0; margin-bottom: 0;}
.mtb10 {margin-top: 10px; margin-bottom: 10;}
.mtb20 {margin-top: 20px; margin-bottom: 20;}
.mtb30 {margin-top: 30px; margin-bottom: 30;}
.mtb50 {margin-top: 50px; margin-bottom: 50;}
.mlr0 {margin-left: 0; margin-right: 0;}
.mlr10 {margin-left: 10px; margin-right: 10;}
.mlr20 {margin-left: 20px; margin-right: 20;}
.mlr30 {margin-left: 30px; margin-right: 30;}
.mlr50 {margin-left: 50px; margin-right: 50;}

.p0 {padding: 0;}
.p10 {padding: 10px;}
.p20 {padding: 20px;}
.p30 {padding: 30px;}
.p50 {padding: 50px;}
.pt0 {padding-top: 0;}
.pt10 {padding-top: 10px;}
.pt20 {padding-top: 20px;}
.pt30 {padding-top: 30px;}
.pt50 {padding-top: 50px;}
.pb0 {padding-bottom: 0;}
.pb10 {padding-bottom: 10px;}
.pb20 {padding-bottom: 20px;}
.pb30 {padding-bottom: 30px;}
.pb50 {padding-bottom: 50px;}
.pl0 {padding-left: 0;}
.pl10 {padding-left: 10px;}
.pl20 {padding-left: 20px;}
.pl30 {padding-left: 30px;}
.pl50 {padding-left: 50px;}
.pr0 {padding-right: 0;}
.pr10 {padding-right: 10px;}
.pr20 {padding-right: 20px;}
.pr30 {padding-right: 30px;}
.pr50 {padding-right: 50px;}
.ptb0 {padding-top: 0; padding-bottom: 0;}
.ptb10 {padding-top: 10px; padding-bottom: 10;}
.ptb20 {padding-top: 20px; padding-bottom: 20;}
.ptb30 {padding-top: 30px; padding-bottom: 30;}
.ptb50 {padding-top: 50px; padding-bottom: 50;}
.plr0 {padding-left: 0; padding-right: 0;}
.plr10 {padding-left: 10px; padding-right: 10;}
.plr20 {padding-left: 20px; padding-right: 20;}
.plr30 {padding-left: 30px; padding-right: 30;}
.plr50 {padding-left: 50px; padding-right: 50;}

.display-none {display: none;}

.template-action-title {
    margin-bottom: 5px;
}
