<template>
    <div :class="classList">
        <slot>
            <ul v-if="messageIsArray">
                <li v-for="item in message" v-html="item"></li>
            </ul>

            <p v-if="! messageIsArray" v-html="message"></p>
        </slot>
    </div>
</template>

<script>
    export default {
        computed: {
            classList() {
                return {
                    'alert': true,
                    [`alert-${this.type}`]: true
                };
            },

            /**
             * Check for message is array
             * @returns {boolean}
             */
            messageIsArray() {
                return Array.isArray(this.message);
            }
        },

        props: {
            type: {
                type: String,
                default: 'info'
            },

            message: {
                default: null
            }
        }
    };
</script>
