<template>
    <div class="box box-success">
        <div class="box-header with-border">
            <div class="box-heading text-bold heading-collapsed"
                 @click="collapsed = ! collapsed"
            >
                {{ title }}
            </div>

            <div class="box-tools pull-right">
                <button type="button"
                        class="btn btn-box-tool"
                        :title="collapsed ? 'Развернуть' : 'Свернуть'"
                        @click="collapsed = ! collapsed"
                >
                    <i class="fa fa-chevron-down" v-if="collapsed"></i>
                    <i class="fa fa-chevron-up" v-else="! collapsed"></i>
                </button>

                <button type="button"
                        class="btn btn-box-tool"
                        @click="$emit('close')"
                        title="Закрыть"
                >
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body" v-show="! collapsed">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                collapsed: false
            };
        },

        props: {
            title: {
                required: true,
                type: String
            }
        }
    };
</script>

<style scoped>
    .heading-collapsed {
        cursor: pointer;
        user-select: none;
    }
</style>
