<template>
    <button :class="classList" @click="toggleCheck">
        <i v-if="checked" class="fa fa-check-square-o"></i>
        <i v-else class="fa fa-square-o"></i>
    </button>
</template>

<script>
    export default {
        data() {
            return {};
        },

        computed: {
            classList() {
                return {
                    'btn': true,
                    'btn-default': true,
                    'active': this.checked
                };
            }
        },

        props: {
            checked: {
                type: Boolean,
                default: false
            }
        },

        methods: {
            toggleCheck() {
                this.$emit('toggle', this.checked);
            }
        }
    };
</script>

<style lang="scss" scoped>

</style>
