<template>
    <a :href="link"
       :target="target"
    >
        <slot>{{ groupOrder.id }}</slot>
    </a>
</template>

<script>
    export default {
        props: {
            groupOrder: {
                required: true,
                type: Object
            },

            target: {
                type: String
            }
        },

        computed: {
            link() {
                return `/order/info/${this.groupOrder.id}`;
            }
        }
    };
</script>
