<template>
    <a :href="link"
       :target="target"
    >
        <slot>{{ order.group_id }}.{{ order.position }}</slot>
    </a>
</template>

<script>
    export default {
        props: {
            order: {
                required: true,
                type: Object
            },

            target: {
                type: String,
                default: '_blank'
            }
        },

        computed: {
            link() {
                return `/order/tz/${this.order.id}`;
            }
        }
    };
</script>
