<template>
    <div class="overlay" v-show="active">
        <div class="loader">
            <i class="fa fa-refresh fa-spin"></i> Получение данных с сервера...
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            active: {
                type: Boolean,
                default: false
            }
        }
    };
</script>

<style scoped>
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
        background: rgba(255,255,255,0.7);
    }

    .overlay > .loader {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -15px;
        color: #000;
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
</style>
