<template>
    <div class="panel panel-default">
        <div class="panel-heading" v-show="showHeader">
            <h4 class="panel-title" @click="collapsePanel">{{ title }}</h4>
        </div>

        <div :class="classList">
            <div class="panel-body">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            classList() {
                return {
                    'panel-collapse': true,
                    'collapse': true,
                    'in': this.collapsed
                };
            }
        },

        props: {
            title: {
                type: String,
                required: true
            },

            collapsed: {
                type: Boolean,
                default: true
            },

            showHeader: {
                type: Boolean,
                default: true
            }
        },

        methods: {
            collapsePanel() {
                this.$emit('collapse', this);
            }
        }
    };
</script>
