<template>
    <tr-panel :title="title" @close="cancel">
        <div class="col-md-6">
            <div class="form-group">
                <textarea class="form-control" cols="3" v-model="comment"></textarea>
            </div>

            <button :class="['btn', { 'btn-danger': ! paused, 'btn-success': paused }]"
                    :disabled="comment.length === 0"
                    @click="pause"
                    v-html="paused ? 'Возобновить' : 'Приостановить'"
            ></button>

            <button class="btn btn-default" @click="cancel">Отмена</button>
        </div>
    </tr-panel>
</template>

<script>
    import TrPanel from "./TrPanel.vue";

    export default {
        data() {
            return {
                comment: ''
            };
        },

        props: {
            title: {
                type: String,
                required: true
            },

            paused: {
                type: Boolean,
                default: false
            }
        },

        methods: {
            pause() {
                this.$emit('confirmed', this.comment);
                this.comment = '';
            },

            cancel() {
                this.comment = '';
                this.$emit('close');
            }
        }
    };
</script>
