<template>
    <span :class="classList">
        <slot></slot>
    </span>
</template>

<script>
    export default {
        props: {
            type: {
                type: String,
                default: 'default'
            }
        },

        computed: {
            classList() {
                return {
                    'label': true,
                    [`label-${this.type}`]: true
                };
            }
        }
    };
</script>
