<template>
    <img :src="url"
         :alt="alt"
         class="thumbnail img-thumbnail"
         onerror="this.src = '/images/thumb.png';"
         @click="$emit('click')"
    />
</template>

<script>
    export default {
        props: {
            url: {
                type: String,
                default: '/images/thumb.png'
            },

            alt: {
                type: String,
                default: ''
            }
        }
    };
</script>

<style scoped>
    .thumbnail {
        max-height: 100px;
    }
</style>
