<template>
    <tr :class="classList">
        <td colspan="12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">{{ title }}</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" @click="$emit('close')">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <slot></slot>
                </div>
            </div>
        </td>
    </tr>
</template>

<script>
    export default {
        computed: {
            customClasses() {
                if (_.isArray(this.trClass)) {
                    return this.trClass.split(' ');
                }

                return [];
            },

            classList() {
                return _.merge(['tr-panel'], this.customClasses);
            }
        },

        props: {
            title: {
                type: String,
                required: true
            },

            trClass: {
                type: String
            }
        }
    };
</script>

<style scoped>
    .tr-panel .box {
        margin-bottom: 0;
    }
</style>
