<template>
    <button :class="classList"
            @click="$emit('click')"
    >
        <slot></slot>
    </button>
</template>

<script>
    export default {
        computed: {
            classList() {
                return {
                    'btn': true,
                    [`btn-${this.type}`]: true,
                    'btn-block': true,
                    'btn-xs': true,
                    'active': this.active
                };
            }
        },

        props: {
            active: {
                type: Boolean,
                default: false
            },

            type: {
                type: String,
                default: 'default'
            }
        }
    };
</script>
