<template>
    <div class="checkbox-list">
        <ul>
            <li v-for="(item, index) in items">
                <label :for="'checkitem-' + id + '-' + index">
                    <input type="checkbox"
                           :id="'checkitem-' + id + '-' + index"
                           :checked="isSelected(item)"
                           @change="toggleSelect(item)"
                    />

                    {{ item }}
                </label>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                id: -1,
                selected: []
            }
        },

        props: {
            items: {
                type: Array,
                default() { return []; }
            },

            value: {
                type: Array
            }
        },

        watch: {
            selected() {
                this.$emit('input', this.selected);
            },

            value(newValue) {
                this.selected = newValue;
            }
        },

        methods: {
            /**
             * Check for item is selected
             */
            isSelected(value) {
                return this.selected.indexOf(value) !== -1;
            },

            /**
             * Toggle checkbox selection
             *
             * @param value
             * @returns {*}
             */
            toggleSelect(value) {
                let index = this.selected.indexOf(value);

                if (index === -1) {
                    return this.selected.push(value);
                }

                return this.selected.splice(index, 1);
            }
        },

        mounted() {
            this.id = this._uid;
        }
    };
</script>

<style lang="scss">
    .checkbox-list {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;

        label {
            margin-bottom: 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
</style>
