<template>
    <div class="input-group">
        <input type="text"
               :id="id"
               class="form-control"
               :placeholder="placeholder"
               :name="name"
               v-bind:value="value"
               v-on:input="updateValue($event.target.value)"
        />

        <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </span>
    </div>
</template>

<script>
    import daterangepicker from "bootstrap-daterangepicker";

    export default {
        data() {
            return {
                selectedDate: null
            };
        },

        props: {
            id: {
                required: true
            },

            value: {
                type: String
            },

            name: {
                type: String
            },

            placeholder: {
                type: String,
                default: 'Период не выбран'
            },

            format: {
                type: String,
                default: 'DD.MM.YYYY HH:mm'
            },

            options: {
                type: Object,
                default() { return {}; }
            }
        },

        computed: {
            pickerOptions() {
                let defaults = {
                    autoUpdateInput: false,
                    timePicker: true,
                    timePicker24Hour: true,

                    locale: {
                        format: this.format,
                        separator: " - ",
                        applyLabel: 'Выбрать',
                        cancelLabel: 'Отмена',
                        customRangeLabel: 'Другой период'
                    },

                    ranges: {
                        'За сегодня': [moment().startOf('day'), moment().endOf('day')],
                        'За вчера': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                        'За неделю': [moment().subtract(6, 'days').startOf('day'), moment().endOf('day')],
                        'За месяц': [moment().subtract(29, 'days').startOf('day'), moment().endOf('day')],
                        'В этом месяце': [moment().startOf('month'), moment().endOf('month')],
                        'В прошлом месяце': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                };

                return Object.assign({}, defaults, this.options);
            }
        },

        methods: {
            updateValue(value) {
                this.$emit('input', value);
            }
        },

        mounted() {
            this.selectedDate = this.value;

            $('#' + this.id).daterangepicker(this.pickerOptions)
                .on('apply.daterangepicker', (event, picker) => {
                    let selected = picker.startDate.format(picker.locale.format) + picker.locale.separator + picker.endDate.format(picker.locale.format);

                    this.$emit('input', selected);
                });
        }
    };
</script>
