<template>
    <div class="input-group">
        <input :type="options.type" class="form-control" :value="value.value"
               @input="changeValue($event.target.value)" :disabled="disabled"
        >

        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" :disabled="disabled">
                <span v-html="selected.title"></span> <span class="caret"></span>
            </button>

            <ul class="dropdown-menu dropdown-menu-right">
                <li v-for="item in items" :class="{ active: selected.item == item.value }">
                    <a href="#" @click.prevent="selectItem(item)">
                        <i v-if="item.icon" :class="item.icon"></i>
                        {{ item.title }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            value: {
                default() { return { value: null, item: null }; }
            },

            items: {
                default() { return []; }
            },

            options: {
                type: Object,
                default() {
                    return {
                        type: 'text'
                    };
                }
            },

            disabled: {
                type: Boolean,
                default: false
            }
        },

        computed: {
            selected() {
                let item = this.items.filter(item => {
                    return item.value === this.value.item;
                });

                let title = null;

                if (item.length === 0) {
                    title = null
                } else {
                    title = item[0].selectedTitle || item[0].title;
                }

                return {
                    'title': title,
                    'item': this.value.item
                };
            }
        },

        methods: {
            selectItem(selectedItem) {
                this.$emit('input', {
                    value: this.value.value,
                    item: selectedItem.value
                });
            },

            changeValue(newValue) {
                if (this.options.type === 'number') {
                    newValue = +newValue;
                }

                this.$emit('input', {
                    value: newValue,
                    item: this.value.item
                });
            }
        }
    };
</script>
