<template>
    <div class="input-group">
        <input :type="type"
               :id="id"
               :name="name"
               class="form-control"
               :value="value"
               @input="$emit('input', $event.target.value)"
               :readonly="readonly"
               ref="input"
        />
        <span class="input-group-addon">{{ addon }}</span>
    </div>
</template>

<script>
    export default {
        props: {
            type: { type: String, default: 'text' },
            id: { type: String, default: null },
            name: { type: String, default: null },
            value: { default: null },
            readonly: { type: Boolean, default: false },
            addon: { type: String, default: '' }
        }
    };
</script>
