<template>
    <div class="price-input">
        <input-dropdown :items="currencies"
                        :value="inputValue"
                        @input="changePrice"
                        :options="options"
                        :disabled="disabled"
        ></input-dropdown>
    </div>
</template>

<script>
    import InputDropdown from "../form/InputDropdown.vue";

    export default {
        data() {
            return {
                currencies: [
                    {
                        title: 'Рубли',
                        value: 'RUB',
                        icon: ['fa', 'fa-rub'],
                        selectedTitle: '<i class="fa fa-rub"></i>'
                    },
                    {
                        title: 'Доллары',
                        value: 'USD',
                        icon: ['fa', 'fa-usd'],
                        selectedTitle: '<i class="fa fa-usd"></i>'
                    },
                    {
                        title: 'Евро',
                        value: 'EUR',
                        icon: ['fa', 'fa-eur'],
                        selectedTitle: '<i class="fa fa-eur"></i>'
                    },
                ],

                options: {
                    type: 'number'
                }
            };
        },

        components: { InputDropdown },

        props: {
            value: {
                type: Object,
                default() { return { value: 0, currency: 'RUB' }; }
            },

            id: {
                type: String,
                default: null
            },

            disabled: {
                type: Boolean,
                default: false
            }
        },

        computed: {
            inputValue() {
                return {
                    value: this.value.value,
                    item: this.value.currency
                };
            }
        },

        methods: {
            changePrice(value) {
                this.$emit('input', {
                    value: value.value,
                    currency: value.item
                });
            },
        }
    };
</script>
