<template>
    <div class="valve-input">
        <label>Клапан (мм)</label>
        <input-dropdown :items="items" :value="inputValue" @input="changeValve" :options="options"></input-dropdown>
    </div>
</template>

<script>
    import InputDropdown from "../form/InputDropdown.vue";

    export default {

        data() {
            return {
                items: [
                    { title: 'По широкой стороне', value: 'wide', selectedTitle: 'по широкой' },
                    { title: 'По узкой стороне', value: 'narrow', selectedTitle: 'по узкой' }
                ],

                options: {
                    type: 'number'
                }
            };
        },

        components: { InputDropdown },

        computed: {
            inputValue() {
                return {
                    value: this.value.value,
                    item: this.value.side
                };
            }
        },

        props: {
            value: {
                default() {
                    return { value: 0, side: 'wide' };
                }
            }
        },

        methods: {
            changeValve(selected) {
                this.$emit('input', {
                    value: selected.value,
                    side: selected.item
                });
            }
        }
    };
</script>
