<template>
    <div class="dashboard">
        <overlay :active="isLoading"></overlay>

        <form @change="fetchStatistic">
            <div class="row stats-filter">
                <div class="col-sm-3">
                    <label>Статистика</label>
                    <select v-model="filters.manager_id" class="form-control">
                        <option :value="null">По всей компании</option>
                        <option v-for="manager in managers" :value="manager.id">
                            {{ manager.first_name }} {{ manager.last_name }}
                        </option>
                    </select>
                </div>

                <div class="col-sm-4">
                    <label>Период статистики:</label><br>
                    <select v-model="filters.period" class="form-control">
                        <option v-for="period in periods"

                                :value="period.value"
                        >
                            {{ period.title }}
                        </option>
                    </select>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <info-box title="Новые клиенты"
                          :value="statistic.new_clients_count"
                          :progress-max="statistic.new_clients_count_plan"
                          :options="{ progressText: 'от выполнения плана', icon: 'users', class: 'bg-aqua' }"
                ></info-box>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <info-box title="Повторные заказы"
                          :value="statistic.repeated_orders_count"
                          :progress-max="statistic.repeated_orders_count_plan"
                          :options="{ progressText: 'от выполнения плана', icon: 'refresh', class: 'bg-green' }"
                ></info-box>
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <info-box title="Выставленные счета"
                          :value="statistic.invoices_total"
                          :progress-max="statistic.invoices_total_plan"
                          :options="{ progressText: 'от выполнения плана', icon: 'file-text-o', class: 'bg-yellow', measure: ' руб.' }"
                ></info-box>
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <info-box title="Поступившие платежи"
                          :value="statistic.paid_invoices_total"
                          :progress-max="statistic.paid_invoices_total_plan"
                          :options="{ progressText: 'от выполнения плана', icon: 'money', class: 'bg-red', measure: ' руб.' }"
                ></info-box>
            </div>
            <!-- /.col -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="chart">
                                    <line-chart :chart-data="statistic.invoices_chart"
                                                :options="options"
                                                :width="400"
                                                :height="100"
                                    />
                                </div>
                                <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <orders-chart :width="300" :height="300"/>
                                <!--<p class="chart-title">
                                    <strong>Воронка продаж</strong>
                                </p>

                                <div class="progress-group">
                                    <span class="progress-text">Отправлено коммерческих предложений</span>
                                    <span class="progress-number"><b>321</b></span>

                                    <div class="progress progress-center sm">
                                        <div class="progress-bar progress-bar-aqua" style="width: 86%"></div>
                                    </div>
                                </div>

                                <div class="progress-group">
                                    <span class="progress-text">Проведено переговоров</span>
                                    <span class="progress-number"><b>160</b></span>

                                    <div class="progress progress-center sm">
                                        <div class="progress-bar" style="width: 67%"></div>
                                    </div>
                                </div>

                                <div class="progress-group">
                                    <span class="progress-text">Рассчитано заявок</span>
                                    <span class="progress-number"><b>97</b></span>

                                    <div class="progress progress-center sm">
                                        <div class="progress-bar progress-bar-green" style="width: 55%"></div>
                                    </div>
                                </div>
                                &lt;!&ndash; /.progress-group &ndash;&gt;
                                <div class="progress-group">
                                    <span class="progress-text">Выставлено счетов</span>
                                    <span class="progress-number"><b>{{ statistic.invoices_count }}</b></span>

                                    <div class="progress progress-center sm">
                                        <div class="progress-bar progress-bar-warning" style="width: 35%"></div>
                                    </div>
                                </div>
                                &lt;!&ndash; /.progress-group &ndash;&gt;
                                <div class="progress-group">
                                    <span class="progress-text">Оплачено заказов</span>
                                    <span class="progress-number"><b>{{ statistic.paid_invoices_count }}</b></span>

                                    <div class="progress progress-center sm">
                                        <div class="progress-bar progress-bar-red" style="width: 20%"></div>
                                    </div>
                                </div>-->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-2">
                                <description-block
                                        description="Новые заказы"
                                        :current="statistic.new_orders_total"
                                        :previous="statistic.previous_new_orders_total"
                                ></description-block>
                            </div>

                            <!-- /.col -->
                            <div class="col-sm-2">
                                <description-block
                                        description="Повторные заказы"
                                        :current="statistic.repeated_orders_total"
                                        :previous="statistic.previous_repeated_orders_total"
                                ></description-block>
                                <!-- /.description-block -->
                            </div>

                            <div class="col-sm-2">
                                <description-block
                                        description="Поступившие платежи"
                                        :current="statistic.paid_invoices_total"
                                        :previous="statistic.previous_paid_invoices_total"
                                ></description-block>
                            </div>

                            <div class="col-sm-1"></div>

                            <div class="col-sm-2">
                                <description-block
                                        description="Ожидаемые поступления"
                                        :current="statistic.expected_payments_total"
                                ></description-block>
                            </div>

                            <div class="col-sm-3">
                                <description-block
                                        description="Просроченная задолженность"
                                        :current="statistic.arrears_total"
                                ></description-block>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </div>
</template>

<script>
    import InfoBox from "./InfoBox.vue";
    import LineChart from './../charts/LineChart';
    import OrdersChart from "./../charts/OrdersChart";
    import DescriptionBlock from "./DescriptionBlock.vue";
    import DatePeriodPicker from "./../form/DatePeriodPicker.vue";

    export default {
        data() {
            return {

                isLoading: false,

                options: {},
                managers: [],

                statistic: {
                    new_clients_count: 0,
                    new_clients_count_plan: 0,
                    repeated_orders_count: 0,
                    repeated_orders_count_plan: 0,
                    invoices_total: null,
                    invoices_total_plan: null,
                    paid_invoices_total: null,
                    paid_invoices_total_plan: null,

                    sent_business_suggestions: null,

                    invoices_chart: {}
                },

                periods: [
                    { title: 'Текущий месяц', value: 'current_month' },
                    { title: 'Предыдущий месяц', value: 'previous_month' },
                    { title: 'Следующий месяц', value: 'next_month' },

                    { title: 'Текущая неделя', value: 'current_week' },
                    { title: 'Предыдущая неделя', value: 'previous_week' },

                    { title: 'Текущий год', value: 'current_year' },
                    { title: 'Предыдущий год', value: 'previous_year' }
                ],

                filters: {
                    manager_id: null,
                    period: 'current_month'
                }
            };
        },

        components: { InfoBox, LineChart, OrdersChart, DatePeriodPicker, DescriptionBlock },

        methods: {
            fetchStatistic() {
                axios.get('/api/user?group=2')
                    .then(response => {
                        this.managers = response.data;
                        this.isLoading = false;
                    });

                this.isLoading = true;
                axios.get('api/statistic', { params: this.filters })
                    .then(({data}) => {
                        this.statistic = data;
                        this.isLoading = false;
                    });
            }
        },

        mounted() {
            this.fetchStatistic();
        }
    };
</script>

<style scoped>
    .progress-group .progress-text {
        font-weight: normal;
    }

    .dashboard {
        position: relative;
    }

    .date-period-wrapper {
        width: 100%;
    }
</style>
