<template>
    <div class="description-block border-right">
        <span :class="classList" v-if="previous !== null">
            <i v-show="percentage > 0" class="fa fa-caret-up"></i>
            <i v-show="percentage < 0" class="fa fa-caret-down"></i>
            <i v-show="percentage === 0" class="fa fa-caret-left"></i>

            {{ percentage }}%
        </span>

        <span v-else class="description-percentage">&nbsp;</span>

        <h5 class="description-header">
            {{ current }} <i class="fa fa-rub"></i>
        </h5>

        <span class="description-text">{{ description }}</span>
    </div>
</template>

<script>
    export default {
        props: {
            previous: {
                type: Number,
                default: null
            },

            current: {
                type: Number,
                default: 0
            },

            description: {
                type: String,
                default: ''
            }
        },

        computed: {
            classList() {
                return {
                    'description-percentage' : true,
                    'text-green': this.percentage > 0,
                    'text-danger': this.percentage < 0,
                    'text-yellow': this.percentage === 0,
                };
            },

            percentage() {
                if (! this.previous) {
                    return 0;
                }

                let diff = this.current - this.previous;

                return Math.round(diff * 100 / this.previous);
            }
        }
    };
</script>
