<template>
    <div :class="['info-box', blockOptions.class]">
        <span class="info-box-icon">
            <i :class="['fa', 'fa-'+blockOptions.icon]"></i>
        </span>

        <div class="info-box-content">
            <span class="info-box-text" v-html="title"></span>
            <span class="info-box-number">{{ value}}{{ blockOptions.measure }}</span>

            <div class="progress">
                <div class="progress-bar" :style="{ width: progressPersent }"></div>
            </div>

            <span class="progress-description">
                {{ progressPersent }} {{ blockOptions.progressText }}
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            title: {
                type: String,
                required: true
            },

            value: {
                type: Number,
                default: 0
            },

            progressMax: {
                type: Number,
                default: 0
            },

            options: {
                type: Object,
                default() { return {}; }
            }
        },

        computed: {
            blockOptions() {
                let defaults = {
                    progressText: null,
                    icon: 'users',
                    class: 'bg-aqua',
                    measure: null
                };

                return Object.assign({}, defaults, this.options);
            },

            progressPersent() {
                if (! this.value || ! this.progressMax) {
                    return '0%';
                }

                return Math.round(this.value * 100 / this.progressMax) + '%';
            }
        }
    };
</script>
