$moneyColor: #00a65a;

.m-noprepay, .m-fullpay, .m-partpay {
    background: $moneyColor;
    color: white;
}

.m-fullpay {
    background: #ff851b;
}

.m-noprepay {
    opacity: .65;

    &:hover {
        color: black;
    }
}

.send-delivery {
    background: #00c0ef;
    color: white;
}

.send-rework {
    background: #111;
    color: white;
}

.l-reworked {
    background: #CA6680;
}

.btn-resume {
    background: #30bbbb;
    color: white;
}

.btn-cancel2 {
    background: #CA6680;
    color: white;
}

.btn-pickup {
    background: #242038;
    color: white;

    &:hover {
        color: white;
    }
}

.btn-decompose {
    background: #7798AB;

    color: white;

    &:hover {
        color: white;
    }
}

.tz-formed {
    background: #13C4A3;
}

.tz-edited {
    background: #E01A4F;
}

.btn-tz {
    background: #42273B;
    color: white;

    &:hover {
        color: white;
    }
}

.btn-start-work {
    background: #F9C22E;
    color: black;

    &:hover {
        color: black;
    }
}

.label-work {
    background: #3BC14A;
}

.label-pause {
    background: #EC7357;
}

.btn-send-approve {
    background: #CFD186;
}

.btn-close {
    background: #B5E2FA;
    color: #1F2D3D;
}
