.employee-edit-form {
    .control-label {
        text-align: left;
    }

    .bonus-calculation-wrapper {
        .bonus-calculation-title {
            margin-right: 15px;
            float: left;
        }

        .bonus-calculation-element {
            margin-right: 10px;
        }
    }

    .bonus-row {
        margin-bottom: 10px;
    }
}