@import "button-colors";
@import "employee";

$color: #dcdcdc;

.row-top,
.row-middle,
.row-bottom {
    border-left: 2px solid $color;

    & > td:last-child,
    & > th:last-child {
        border-right: 2px solid $color;
    }
}

.row-top {
    border-top: 2px solid $color;
}

.row-bottom {
    border-bottom: 2px solid $color;
}

.table-head {
    background: $color;
    font-weight: bold;

    &:hover {
        background: $color;
    }
}

.table-hover>tbody>tr.table-head:hover {
    background: $color;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
    border-bottom: none;
}

.heading-collapsed {
    cursor: pointer;
    user-select: none;
}

.alert {
    .fa {
        vertical-align: middle;
        margin-right: 15px;
    }
}

.td-checkbox {
    width: 60px;
}

.td-actions {
    width: 160px;
}

.td-status,
.td-close-date,
.td-issue-at,
.td-preview {
    width: 10%;
}

.td-postpress {
    width: 15%;
}

.td-size {
    width: 80px;
}

.td-id {
    width: 50px;
}

.td-product {
    width: 250px;
}

.td-product-wide {
    width: 300px;
}

.td-chromacity {
    width: 5%;
}

.td-draw {
    width: 7%;
}

.td-format {
    width: 10%;
}

.queue-design-table {
    .row-bottom {
        > td:last-child {
            border-right: 2px solid black;
        }
    }
}

.description-percentage {
    font-size: 18px;
}

.box {
    .box-body {
        padding-bottom: 25px;
    }
}

.chart-title {
    margin-bottom: 35px;
    font-size: 18px;
}

.progress-center {
    text-align: center;

    .progress-bar {
        float: none;
        display: inline-block;
        height: 20px;
    }
}

.stats-filter {
    margin-bottom: 15px;
}

.btn-default.with-border {
    border: 1px solid #23527c;
}

.preview-box {

    .image-wrapper {
        margin-bottom: 20px;
    }

    .image {
        height: 500px;
    }

    .previews {
        white-space: nowrap;
        overflow-x: scroll;
        position: relative;

        .preview-item {
            display: inline-block;
            border: 5px solid transparent;

            &.current {
                display: none;
            }

            &.approved {
                border-color: green;
            }

            .img-thumbnail {
                width: auto;
                height: 150px;
            }
        }
    }
}
