<template>
    <div class="employee-add-bonus-form">
        <alert type="danger" :message="errors" v-show="errors.length > 0"></alert>

        <div class="box">
            <button type="button" class="btn btn-lg collapse-btn" @click="collapsed = ! collapsed">
                Единовременно начислить
            </button>

            <div class="box-body" v-show="collapsed">
                <div class="form-group">
                    <label><input type="radio" v-model="accrualType" value="premium" :disabled="isLoading"> премию</label>
                    <label><input type="radio" v-model="accrualType" value="fine" :disabled="isLoading"> штраф</label>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <input-dropdown :items="accrualItems" v-model="accrualValue" :disabled="isLoading"/>
                        </div>

                        <div class="col-sm-9">
                            <input placeholder="Причина начисления"
                                   class="form-control"
                                   v-model="accrualReason"
                                   :disabled="isLoading"
                            />
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" :disabled="isLoading" @click="submit">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import ValidationError from "./../../core/ValidationError";

    export default {
        data() {
            return {
                collapsed: true,
                errors: [],
                isLoading: false,
                accrualType: null,
                accrualItems: [
                    { value: 'rub', title: 'рублей' },
                    { value: 'turnover', title: '% оборота' },
                    { value: 'profit', title: '% прибыли' },
                    { value: 'prize', title: '% премии' },
                    { value: 'bonus', title: '% бонусов' }
                ],
                accrualValue: {
                    value: 0,
                    item: 'rub'
                },
                accrualReason: null
            };
        },

        props: {
            employeeId: {
                required: true,
                type: Number
            }
        },

        computed: {
            formData() {
                return {
                    accrual_type: this.accrualType,
                    accrual_value: this.accrualValue,
                    accrual_reason: this.accrualReason
                };
            }
        },

        methods: {
            submit() {
                this.errors = [];
                this.isLoading = true;

                axios.post(`/api/accrual/${this.employeeId}`, this.formData)
                    .then(response => {
                        let data = response.data;

                        if (data.status === 'redirect') {
                            return helpers.redirect(data.redirect);
                        }
                    })
                    .catch(error => {
                        this.isLoading = false;
                        let response = error.response;
                        if (response.status === 422) {
                            this.errors = ValidationError.fromResponse(response).toArray();
                        } else {
                            this.errors.push('Ошибка сервера.');
                        }
                    });
            }
        }
    };
</script>

<style scoped>
    .box {
        border-top: none;
    }

    .collapse-btn {
        width: 100%;
        height:42px;
        background-color: #d2d6de;
        text-align: left;
    }
</style>
