<template>
    <div class="employee-edit-form">
        <alert v-show="errors.length" :message="errors" type="danger"></alert>

        <h2>План продаж</h2>

        <form @submit.prevent="save">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="new-clients-count-plan" class="col-sm-3 control-label">Новые клиенты</label>
                        <input-group type="number"
                                     class="col-sm-4"
                                     id="new-clients-count-plan"
                                     v-model="new_clients_count_plan"
                                     addon="шт."
                                     :readonly="isLoading"
                        />
                    </div>

                    <div class="form-group">
                        <label for="repeated-orders-count-plan" class="col-sm-3 control-label">Повторные заказы</label>
                        <input-group type="number"
                                     class="col-sm-4"
                                     id="repeated-orders-count-plan"
                                     v-model="repeated_orders_count_plan"
                                     addon="шт."
                                     :readonly="isLoading"
                        />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="invoices-total-plan" class="col-sm-3 control-label">Выставленные счета</label>
                        <input-group class="col-sm-4"
                                     id="invoices-total-plan"
                                     v-model="invoices_total_plan"
                                     addon="руб."
                                     :readonly="isLoading"
                        />
                    </div>

                    <div class="form-group">
                        <label for="paid-invoices-total-plan" class="col-sm-3 control-label">Поступившие платежи</label>
                        <input-group class="col-sm-4"
                                     id="paid-invoices-total-plan"
                                     v-model="paid_invoices_total_plan"
                                     addon="руб."
                                     :readonly="isLoading"
                        />
                    </div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="bonus-calculation-wrapper col-sm-7">
                    <div class="bonus-calculation-title">Расчёт премий производить по</div>

                    <label class="bonus-calculation-element">
                        <input type="radio" v-model="salary.premium_calculation" value="averaged_index"/> усреднённому показателю
                    </label>

                    <label class="bonus-calculation-element">
                        <input type="radio" v-model="salary.premium_calculation" value="worse_result"/> худшему результату
                    </label>
                </div>
            </div>

            <h2>Оклад и премия</h2>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="standard-salary" class="col-sm-3 control-label">Стандартный оклад</label>
                        <div class="input-group col-sm-4">
                            <input type="number"
                                   id="standard-salary"
                                   class="form-control"
                                   v-model="salary.standard_salary"
                            />
                            <span class="input-group-addon">руб.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="increased-salary" class="col-sm-3 control-label">Повышенный оклад</label>
                        <div class="input-group col-sm-4">
                            <input type="number"
                                   id="increased-salary"
                                   class="form-control"
                                   v-model="salary.increased_salary"
                            />
                            <span class="input-group-addon">руб.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="standard-premium" class="col-sm-3 control-label">Стандартная премия</label>
                        <div class="input-group col-sm-4">
                            <input type="text"
                                   id="standard-premium"
                                   class="form-control"
                                   v-model="salary.standard_premium"
                            />
                            <span class="input-group-addon">руб.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="increased-premium" class="col-sm-3 control-label">Повышенная премия</label>
                        <div class="input-group col-sm-4">
                            <input type="text"
                                   id="increased-premium"
                                   class="form-control"
                                   v-model="salary.increased_premium"
                            />
                            <span class="input-group-addon">руб.</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Расчёт бонусов -->
            <employee-bonuses :value="bonuses"/>

            <h2>Схема мотивации</h2>
            <div class="coefficients">
                <motivation-scheme-item v-for="scheme in motivation_schemes"
                                        :value="scheme"
                />

                <button type="button" class="btn btn-link" @click="addNewCoefficient">
                    <i class="fa fa-plus"></i> Добавить диапазон
                </button>
            </div>

            <h2>Вычеты</h2>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="employee-label">Просроченную дебиторку</label>
                        <label>
                            <input type="radio"
                                   name="overdue_receivable"
                                   v-model="substractions.overdue_receivable"
                                   value="turnover"
                            />
                            вычитать из оборота при расчёте бонусов
                        </label>
                        <label>
                            <input type="radio"
                                   name="overdue_receivable"
                                   v-model="substractions.overdue_receivable"
                                   value="premium"
                                   disabled="disabled"
                            />
                            вычитать из премии
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="employee-label">Предоставленные скидки</label>
                        <label>
                            <input type="radio"
                                   name="discount"
                                   v-model="substractions.discount"
                                   value="turnover"
                            /> вычитать из оборота при расчёте бонусов
                        </label>

                        <label>
                            <input type="radio"
                                   name="discount"
                                   v-model="substractions.discount"
                                   value="premium"
                                   disabled
                            /> вычитать из премии
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="employee-label">Возврат по причине брака</label>
                        <label>
                            <input type="radio"
                                   name="marriage_return"
                                   v-model="substractions.marriage_return"
                                   value="turnover"
                            /> вычитать из оборота при расчёте бонусов
                        </label>

                        <label>
                            <input type="radio"
                                   name="marriage_return"
                                   v-model="substractions.marriage_return"
                                   value="premium"
                                   disabled
                            /> вычитать из премии
                        </label>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</template>

<script>
    import MotivationScheme from "./MotivationScheme";
    import MotivationSchemeItem from "./MotivationSchemeItem.vue";
    import EmployeeBonuses from "./EmployeeBonuses.vue";
    import ValidationError from "./../../core/ValidationError";

    export default {
        data() {
            return {
                errors: [],
                isLoading: false,

                clientTypes: [],

                bonuses: {
                    product_types: [],
                    items: []
                },

                motivation_schemes: [new MotivationScheme()],

                substractions: {
                    overdue_receivable: "turnover",
                    discount: "turnover",
                    marriage_return: "turnover"
                },

                salary: {
                    standard_salary: null,
                    increased_salary: null,
                    standard_premium: null,
                    increased_premium: null,
                    premium_calculation: null
                },

                new_clients_count_plan: null,
                repeated_orders_count_plan: null,
                invoices_total_plan: null,
                paid_invoices_total_plan: null
            };
        },

        props: {
            groupId: {
                required: true,
                type: Number
            }
        },

        components: { MotivationSchemeItem, EmployeeBonuses },

        methods: {
            /**
             * Update employee
             */
            save() {
                let formData = {
                    new_clients_count_plan: this.new_clients_count_plan,
                    repeated_orders_count_plan: this.repeated_orders_count_plan,
                    invoices_total_plan: this.invoices_total_plan,
                    paid_invoices_total_plan: this.paid_invoices_total_plan,
                    bonuses: this.bonuses,
                    motivation_schemes: this.motivation_schemes,
                    substractions: this.substractions,
                    salary: this.salary
                };

                this.errors = [];
                this.isLoading = true;

                axios.patch(`/api/user-role/${this.groupId}`, formData)
                    .then(response => {
                        let data = response.data;
                        if (data.status === 'redirect') {
                            helpers.redirect(data.location);
                        }
                    })
                    .catch(error => {
                        this.isLoading = false;
                        let response = error.response;
                        if (response.status === 422) {
                                this.errors = ValidationError.fromResponse(response).toArray();
                        } else {
                            this.errors.push('Ошибка сервера.');
                        }
                    });
            },

            /**
             * Fetch employee's data
             *
             * @param groupId
             */
            fetchEmployee(groupId) {
                axios.get(`/api/user-role/${groupId}`)
                    .then(response => {
                        let data = response.data;

                        this.new_clients_count_plan = data.new_clients_count_plan;
                        this.repeated_orders_count_plan = data.repeated_orders_count_plan;
                        this.invoices_total_plan = data.invoices_total_plan;
                        this.paid_invoices_total_plan = data.paid_invoices_total_plan;

                        this.standard_salary = data.standard_salary;
                        this.increased_salary = data.increased_salary;
                        this.standard_premium = data.standard_premium;
                        this.increased_premium = data.increased_premium;

                        this.bonuses = data.bonuses;
                        this.motivation_schemes = data.motivation_schemes;
                        this.substractions = data.substractions;
                        this.salary = data.salary;
                    });
            },

            addNewCoefficient() {
                this.motivation_schemes.push(new MotivationScheme());
            }
        },

        mounted() {
            axios.get('/api/client-type').then(({data}) => this.clientTypes = data);
            this.fetchEmployee(this.groupId);
        }
    };
</script>

<style>
    .employee-label {
        height: 34px;
        line-height: 34px;
        width: 13%;
        float: left;
    }
</style>