<template>
    <div class="employee-bonuses">
        <div class="row">
            <div class="col-sm-2"><h2>Расчёт бонусов</h2></div>
            <div class="col-sm-5"><h3>Для продукции собственного производства</h3></div>
            <div class="col-sm-2"><h3>Для подрядов</h3></div>
        </div>

        <div class="row" v-if="value.product_types">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <div class="row">
                    <div v-for="productType in value.product_types" class="col-sm-4">
                        {{ productType.name }}
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <template v-for="item in value.items">
            <div class="row bonus-row">
                <div class="col-sm-2">{{ item.client_type.name }}</div>
                <div class="col-sm-5">
                    <div class="row">
                        <div v-for="product in item.own_production" class="col-sm-4">
                            <input-dropdown :value="product"
                                            :items="bonusDropdownItems"
                                            @input="$value => { product.value = $value.value; product.item = $value.item; }"
                            />
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <input-dropdown v-model="item.contract" :items="ContractorBonusDropdownItems"/>
                </div>
            </div>
        </template>

    </div>
</template>

<script>
    export default {
        props: {
            value: {
                type: Object,
                default() {
                    return {
                        product_types: [],
                        items: []
                    };
                }
            }
        },

        data() {
            return {
                bonusDropdownItems: [
                    { title: '% с оборота', value: 'turnover_percentage' }
                ],

                ContractorBonusDropdownItems: [
                    { title: '% с оборота', value: 'turnover_percentage' },
                    { title: '% с прибыли', value: 'profit_percentage' }
                ]
            };
        }
    };
</script>
