<template>
    <div class="coefficient clearfix">
        <label class="employee-label">Выполнение плана на</label>

        <div class="coefficient-item">
            <input-group v-model="value.percent" addon="%"/>
        </div>

        <div class="operation">=</div>

        <div class="coefficient-item">
            <select class="form-control" v-model="value.salary">
                <option value="standart">Стандартный оклад</option>
                <option value="increased">Повышенный оклад</option>
                <option value="none">Без оклада</option>
            </select>
        </div>

        <div class="operation">+</div>

        <div class="coefficient-item">
            <select class="form-control" v-model="value.premium">
                <option value="standart">Стандартная премия</option>
                <option value="increased">Повышенная премия</option>
                <option value="none">Без премии</option>
            </select>
        </div>

        <div class="operation">+</div>

        <div class="coefficient-item">
            <select class="form-control" v-model="value.bonus" @change="onBonusChange">
                <option value="decreased">Пониженный бонус</option>
                <option value="standart">Стандартный бонус</option>
                <option value="increased">Повышенный бонус</option>
                <option value="none">Без бонуса</option>
            </select>
        </div>

        <div class="coefficient-item bonus-coefficient"
             v-show="bonusCoefficientIsActive"
        >
            <input-group v-model="value.bonus_coefficient"
                         addon="коэф."
                         ref="coefficientInput"
                         :readonly="bonusCoefficientIsReadOnly"
            />
        </div>
    </div>
</template>

<script>
    import MotivationScheme from "./MotivationScheme";

    export default {
        data() {
            return {};
        },

        props: {
            value: {
                type: Object,
                default: () => new MotivationScheme()
            }
        },

        computed: {
            bonusCoefficientIsActive() {
                return ['standart', 'decreased', 'increased'].indexOf(this.value.bonus) !== -1;
            },

            bonusCoefficientIsReadOnly() {
                return this.value.bonus === 'standart';
            }
        },

        methods: {
            onBonusChange(event) {
                let bonus = event.target.value;

                if (bonus === 'none') {
                    this.value.bonus_coefficient = 0;
                }

                if (bonus === 'standart') {
                    this.value.bonus_coefficient = 1.0;
                }

                if (bonus === 'decreased') {
                    this.value.bonus_coefficient = 0.9;
                }

                if (bonus === 'increased') {
                    this.value.bonus_coefficient = 1.1;
                }

                let input = this.$refs.coefficientInput.$refs.input;
                input.select();
            }
        }
    };
</script>

<style scoped>
    .operation,
    .coefficient-item,
    .coefficient-label {
        float: left;
    }

    .operation {
        height: 34px;
        line-height: 34px;
        padding: 0 5px;
        font-weight: bold;
    }

    .coefficient-item {
        width: 15%;
    }

    .bonus-coefficient {
        width: 200px;
        margin-left: 20px;
    }
</style>