<template>
    <form method="get" @submit.prevent="submitForm" ref="form">
        <div class="row">
            <div class="col-sm-9">
                <date-period-picker id="period" v-model="date" name="period"/>
            </div>

            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Применить</button>
            </div>
        </div>
    </form>
</template>

<script>
    import DatePeriodPicker from "./../form/DatePeriodPicker.vue";

    export default {
        data() {
            return {
                date: null
            };
        },

        components: { DatePeriodPicker },

        methods: {
            submitForm() {
                this.$refs.form.submit();
            }
        },

        mounted() {
            this.date = helpers.getParameterByName('period', window.location.search);
        }
    };
</script>
