<template>
    <modal title="Загрузить спуск" :show="show" @close="closeModal">
        <form @submit.prevent="uploadDescentHandler">
            <p>Вставьте ссылку или выберите файл:</p>

            <!-- Validation Errors -->
            <alert type="danger" v-show="errors.length > 0" :message="errors"></alert>

            <div class="form-group">
                <label for="link">Ссылка</label>
                <input type="text"
                       name="link"
                       id="link"
                       class="form-control"
                       v-model="link"
                       :readonly="isLoading"
                />
            </div>

            <div class="form-group">
                <label for="file">Файл</label>
                <input type="file"
                       name="file"
                       id="file"
                       class="form-control"
                       @change="selectDescentFile"
                       :readonly="isLoading"
                />
            </div>

            <div class="progress" v-show="isLoading">
                <div class="progress-bar"
                     role="progressbar"
                     :aria-valuenow="uploadProgress"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     :style="{ width: uploadProgress + '%' }"
                >
                    {{ uploadProgress }}%
                </div>
            </div>

            <button type="button" class="btn btn-default" @click="closeModal">
                Отмена
            </button>

            <button type="submit" class="btn btn-primary" :disabled="isLoading">
                <span v-if="! isLoading">Загрузить</span>
                <span v-else>
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                    <span class="sr-only">Загрузка...</span>
                </span>
            </button>
        </form>
    </modal>
</template>

<script>
    import Modal from "../Modal.vue";
    import Alert from "../html/Alert.vue";
    import PerformOrder from "../../models/PerformOrder";
    import ValidationError from "../../core/ValidationError";

    export default {
        data() {
            return {
                link: '',
                file: '',
                errors: [],
                isLoading: false,
                uploadProgress: null
            };
        },

        components: { Alert, Modal },

        props: {
            show: {
                type: Boolean,
                default: false
            },

            performOrder: {
                required: true
            }
        },

        methods: {
            uploadDescentHandler() {
                PerformOrder.uploadDescent(this.performOrder.id, {
                    file: this.file,
                    link: this.link
                })
                    .then(response => {
                        this.link = '';
                        this.file = '';
                        this.isLoading = false;
                        this.$emit('uploaded', response.performOrder);
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = ValidationError.fromResponse(error.response).toArray();
                            return;
                        }

                        this.errors = 'При выполнении операции возникла ошибка на сервере.';
                    });
            },

            /**
             * Выбор файла
             *
             * @param event
             */
            selectDescentFile(event) {
                let files = event.target.files;

                console.log(files, files.length);

                if (files.length === 0) {
                    this.file = '';
                    return;
                }

                this.file = files[0];
            },

            closeModal() {
                this.$emit('close');
            }
        }
    };
</script>
