<template>
    <div class="create-material-form">
        <material-form v-model="material" @submit="store" :loading="isLoading" :errors="errors"></material-form>
    </div>
</template>

<script>
    import MaterialForm from "./MaterialForm.vue";
    import Material from "../../../models/Material";
    import ValidationError from "./../../../core/ValidationError";

    export default {
        data() {
            return {
                errors: [],
                isLoading: false,
                material: new Material()
            };
        },

        components: { MaterialForm },

        methods: {
            /**
             * Store new material in database
             */
            store(material) {
                this.isLoading = true;
                this.errors = [];

                Material.store(material)
                    .then(response => {
                        this.isLoading = false;

                        if (response.data.status === 'success') {
                            return helpers.redirect(response.data.redirect);
                        }

                        this.errors = [response.data.message];
                    })
                    .catch(error => {
                        this.isLoading = false;

                        if (error.response.status === 422) {
                            this.errors = ValidationError.fromResponse(error.response).toArray();

                            return;
                        }

                        alert('Ошибка сервера');
                    });
            }
        }
    };
</script>
