<template>
    <div class="edit-material-form">
        <material-form v-model="material"
                       :errors="errors"
                       :loading="isLoading"
                       :can-add-density="false"
                       @submit="update"
        ></material-form>
    </div>
</template>

<script>
    import MaterialForm from "./MaterialForm.vue";
    import Material from "./../../../models/Material";
    import ValidationError from "./../../../core/ValidationError";

    export default {
        data() {
            return {
                errors: [],
                material: {},
                isLoading: false
            };
        },

        components: { MaterialForm },

        props: {
            materialId: {
                reuiqred: true
            }
        },

        methods: {
            update(material) {
                this.isLoading = true;

                Material.update(this.materialId, material)
                    .then(response => {
                        this.isLoading = false;

                        if (response.data.status === 'success') {
                            return helpers.redirect(response.data.redirect);
                        }

                        this.errors = [response.data.message];
                    })
                    .catch(error => {
                        this.isLoading = false;

                        if (error.response.status === 422) {
                            this.errors = ValidationError.fromResponse(error.response).toArray();

                            return;
                        }

                        alert('Ошибка сервера');
                    });
            }
        },

        mounted() {
            Material.find(this.materialId)
                .then(({data}) => this.material = data);
        }
    };
</script>
