<template>
    <div class="material-form">
        <alert v-show="errors.length > 0" type="danger" :message="errors"></alert>

        <!-- Тип материала и тип покрытия -->
        <div class="form-group">
            <div class="row">
                <!-- Тип материала -->
                <div class="col-sm-6">
                    <label for="type" class="control-label">Тип материала</label>
                    <material-type-select v-model="value.material_type_id" :disabled="loading"></material-type-select>
                </div>

                <!-- Тип покрытия -->
                <div class="col-sm-6">
                    <label for="texture" class="control-label">Тип покрытия</label>
                    <cover-type-select v-model="value.cover_type_id" :disabled="loading"></cover-type-select>
                </div>
            </div>
        </div>

        <!-- Название и цена -->
        <div class="form-group">
            <div class="row">
                <!-- Название -->
                <div class="col-md-9">
                    <label for="name" class="control-label">Название</label>
                    <input id="name" class="form-control" v-model="value.name" :disabled="loading">
                </div>

                <!-- Цена за тонну -->
                <div class="col-md-3">
                    <label for="price" class="control-label">Цена за тонну</label>
                    <price-input v-model="value.price" :disabled="loading"></price-input>
                </div>
            </div>
        </div>

        <!-- Форматы листов -->
        <div class="form-group">
            <div class="row">
                <!-- Исходный формат листа -->
                <div class="col-sm-5">
                    <label for="initial_format" class="control-label">Формат исходного листа (мм)</label>
                    <sheet-format-select type="initial"
                                         v-model="value.initial_sheet_format"
                                         :disabled="loading"
                    ></sheet-format-select>
                </div>

                <!-- Формат печатного листа -->
                <div class="col-sm-5">
                    <label for="format" class="control-label">Формат печатного листа (мм)</label>
                    <sheet-format-select type="print"
                                         v-model="value.print_sheet_format"
                                         :disabled="loading"
                    ></sheet-format-select>
                </div>

                <!-- Пропорция раскроя -->
                <div class="col-sm-2">
                    <label for="cuting_ratio" class="control-label">Раскрой</label>
                    <input type="text" readonly class="form-control"
                           v-model="printSheetsNumber" :disabled="loading"
                    />
                </div>
            </div>
        </div>

        <!-- Плотность -->
        <material-density v-model="value.density_items"
                          :can-add-density="canAddDensity"
                          :disabled="loading"
        ></material-density>

        <!-- ламинация -->
        <div class="item text-right">
            <label for="lamination">
                <input id="lamination" v-model="value.lamination" type="checkbox" :disabled="loading">
                Подходит для ламинации
            </label>
        </div>

        <button class="btn btn-default with-border" @click="submitForm" :disabled="loading">
            <i class="fa fa-save"></i> Сохранить
        </button>

        <div class="overlay" v-show="loading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</template>

<script>
    import Material from "./../../../models/Material";
    import MaterialDensity from "./MaterialDensity.vue";

    export default {
        data() {
            return {

            };
        },

        components: { MaterialDensity },

        props: {
            value: {
                type: Object,
                default() { return new Material(); }
            },

            loading: {
                type: Boolean,
                default: false
            },

            errors: {
                type: Array,
                default() { return []; }
            },

            canAddDensity: {
                type: Boolean,
                default: true
            }
        },

        computed: {
            /**
             * Кол-во печатных страниц из исходного (раскрой)
             */
            printSheetsNumber() {
                if (! this.value.initial_sheet_format || ! this.value.print_sheet_format ||
                    ! this.value.initial_sheet_format.width || ! this.value.print_sheet_format.width
                ) {
                    return null;
                }

                let initWidth = this.value.initial_sheet_format.width,
                    initHeight = this.value.initial_sheet_format.height,
                    printWidth = this.value.print_sheet_format.width,
                    printHeight = this.value.print_sheet_format.height;

                let cuttingHorizontal = Math.floor(initWidth / printWidth) * Math.floor(initHeight / printHeight),
                    cuttingVertical = Math.floor(initHeight / printWidth) * Math.floor(initWidth / printHeight);

                return Math.max(cuttingHorizontal, cuttingVertical);
            }
        },

        methods: {
            /**
             * Submit form handler
             */
            submitForm() {
                let formData = this.value;
                formData.print_sheets_number = this.printSheetsNumber;

                this.$emit('submit', formData);
            }
        }
    };
</script>

<style scoped>
    .material-form {
        position: relative;
    }

    .material-form .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
