<template>
    <div class="material-density">
        <div class="form-group" v-show="value.length">
            <div class="row">
                <!-- Доступные варианты плотности -->
                <div class="col-sm-5">
                    <label class="control-label">Доступные варианты плотности (г/м.кв.)</label>
                </div>

                <!-- Наличие материала на складе -->
                <div class="col-sm-4">
                    <label class="control-label">Наличие материала на складе</label>
                </div>

                <!-- Неснижаем. остаток -->
                <div class="col-sm-3">
                    <label class="control-label">Неснижаем. остаток</label>
                </div>
            </div>
        </div>

        <div class="form-group" v-for="(densityItem, index) in value">
            <div class="row">
                <!-- Доступные варианты плотности -->
                <div class="col-sm-5">
                    <label><input type="checkbox" :disabled="disabled"> {{ densityItem.density }} г/м.кв.</label>
                </div>

                <!-- Наличие материала на складе -->
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="densityItem.stock" :disabled="disabled">
                        <span class="input-group-addon">печ.лст</span>
                    </div>
                </div>

                <!-- Неснижаем. остаток -->
                <div class="col-sm-3">
                    <input type="text" class="form-control" v-model="densityItem.balance" :disabled="disabled">
                </div>
            </div>
        </div>

        <!-- Форма добавления плотности -->
        <div class="form-group" v-if="canAddDensity">
            <button :class="[ 'btn', 'btn-link', {'active': densityAddForm.showing} ]"
                    @click="toggleDensityAddForm" :disabled="disabled"
            >
                <i class="fa fa-plus"></i> Добавить плотность
            </button>

            <div class="row" v-show="densityAddForm.showing">
                <div class="col-sm-5">
                    <input type="number" class="form-control"
                           v-model="densityAddForm.density" :disabled="disabled"
                    >
                </div>

                <button class="btn btn-primary btn-sm col-sm-3"
                        :disabled="! densityAddForm.density || disabled"
                        @click="addDensity"
                >Добавить</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                // Форма добавления плотности
                densityAddForm: {
                    showing: false,
                    density: null
                }
            };
        },

        props: {
            value: {
                type: Array,
                default() { return []; }
            },

            disabled: {
                type: Boolean,
                default: false
            },

            canAddDensity: {
                type: Boolean,
                default: true
            }
        },

        methods: {
            /**
             * Показывает / скрывает форму добавления плотности
             */
            toggleDensityAddForm() {
                this.densityAddForm.showing = ! this.densityAddForm.showing;
            },

            /**
             * Добавляет строку для ввода параметров плотности
             */
            addDensity() {
                if (! this.densityAddForm.density) {
                    alert('Необходимо ввести значение!');
                    return;
                }

                let densities = this.value;

                densities.push({
                    density: this.densityAddForm.density,
                    stock: 0,
                    balance: 0
                });

                this.$emit('input', densities);

                this.densityAddForm.density = null;
                this.densityAddForm.showing = false;
            },
        }
    };
</script>
