<template>
    <div class="cover-type-select">
        <editable-select :items="coverTypes"
                         :value="value"
                         @input="changeCover"
                         @add-item="storeCoverType"
                         :disabled="isLoading || disabled"
                         :error="error"
        ></editable-select>
    </div>
</template>

<script>
    import EditableSelect from "./EditableSelect.vue";

    /**
     * Компонент выбора типа покрытия
     */
    export default {
        data() {
            return {
                isLoading: false,
                coverTypes: [],
                error: null
            };
        },

        props: {
            value: {
                type: Number,
                default: null
            },

            disabled: {
                type: Boolean,
                default: false
            }
        },

        methods: {
            /**
             * Change cover type event
             */
            changeCover(cover) {
                this.$emit('input', cover);
            },

            /**
             * Store new cover type
             *
             * @param coverName
             */
            storeCoverType(coverName) {
                this.isLoading = true;

                axios.post('/api/cover-types', { name: coverName })
                    .then(({data}) => {
                        this.coverTypes.push(data);
                        this.changeCover(data.id);
                        this.isLoading = false;
                    })
                    .catch(error => this.error = error.message);
            },

            /**
             * Fetch cover types from server
             */
            fetchCoverTypes() {
                this.isLoading = true;

                axios.get('/api/cover-types').then(({data}) => {
                    this.coverTypes = data;
                    this.isLoading = false;
                }).catch(error => this.error = error.message);
            }
        },

        mounted() {
            this.fetchCoverTypes();
        }
    };
</script>
