<template>
    <div class="editable-select">
        <div :class="['input-group', 'dropdown', { 'has-error': error }]" ref="editableSelect">
            <input type="text"
                   class="form-control select-input"
                   placeholder="Выбрать"
                   @focus="dropdown = true"
                   :value="newItemValue"
                   @input="newItem = $event.target.value"
                   :disabled="disabled"
            />

            <ul class="dropdown-menu is-full-width" v-show="dropdown">
                <li v-for="item in items" :class="{ active: newItemValue === item.name }">
                    <a @click.prevent="select(item)">
                        {{ item.name }}
                    </a>
                </li>
            </ul>

            <span class="input-group-btn" >
                <button class="btn btn-primary" title="Сохранить" @click="addNewItem" :disabled="disabled" v-show="editMode"
                >
                    <i class="fa fa-plus"></i>
                </button>

                <button class="btn btn-default" @click="toggleDropdown" :disabled="disabled" v-show="! editMode"
                        title="Показать существующие варианты"
                >
                    <i class="fa fa-caret-down"></i>
                </button>
            </span>
        </div>

        <small v-show="error" v-html="error" class="text-danger"></small>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                newItem: '',
                dropdown: false
            };
        },

        props: {
            items: {
                type: Array,
                default() { return []; }
            },

            value: {
                default: null
            },

            disabled: {
                type: Boolean,
                default: false
            },

            error: {
                type: String,
                default: null
            }
        },

        watch: {
            newItem(newValue) {
                this.$emit('input', null)

                let items = this.items.filter(item => {
                    return newValue === item.name;
                });

                if (items.length) {
                    this.$emit('input', items[0].id);
                }
            }
        },

        computed: {
            selectedItem() {
                let selected = this.items.filter(item => item.id === this.value);

                if (selected.length) {
                    return selected[0];
                }

                return null;
            },

            editMode() {
                return this.newItem.trim().length > 0
                    && this.items.filter(item => item.name === this.newItem.trim()).length === 0;
            },

            newItemValue() {
                if (this.newItem.length > 0) {
                    return this.newItem;
                }

                if (this.selectedItem) {
                    return this.selectedItem.name;
                }

                return null;
            }
        },

        methods: {
            select(item, hideDropdown = true) {
                this.dropdown = ! hideDropdown;
                this.newItem = item.name;
                this.$emit('input', item.id);
            },

            /**
             * Add new item
             */
            addNewItem() {
                this.$emit('add-item', this.newItem.trim());
            },

            /**
             * Toggle dropdown menu
             */
            toggleDropdown() {
                this.dropdown = ! this.dropdown;
            },

            /**
             * Init events for dropdown
             */
            initEvents() {
                document.addEventListener('click', event => this.dropdown ? this.dropdown = false : null);
                this.$refs.editableSelect.addEventListener('click', event => event.stopPropagation());
            }
        },

        mounted() {
            this.initEvents();
        }
    };
</script>

<style scoped>
    .select-input {
        font-size: 16px;
        text-align: left;
    }

    .input-group-addon {
        cursor: pointer;
        border-left: none;
    }

    .dropdown-menu.is-full-width {
        width: 100%;
    }

    .dropdown-menu {
        display: block;
    }

    .input-group-btn .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .has-error .input-group-btn .btn {
        border: 1px solid #a94442;
        border-left: none;
    }
</style>
