<template>
    <div class="material-type-select">
        <editable-select :items="materialTypes"
                         :value="value"
                         @input="changeMaterial"
                         @add-item="storeMaterialType"
                         :disabled="isLoading || disabled"
                         :error="error"
        ></editable-select>
    </div>
</template>

<script>
    /**
     * Компонент выбора типа материала
     */
    export default {
        data() {
            return {
                isLoading: false,
                materialTypes: [],
                error: null
            };
        },

        props: {
            value: {
                type: Number,
                default: null
            },

            disabled: {
                type: Boolean,
                default: false
            }
        },

        methods: {
            /**
             * Change material event
             */
            changeMaterial(material) {
                this.$emit('input', material);
            },

            /**
             * Store new material type
             *
             * @param materialName
             */
            storeMaterialType(materialName) {
                this.isLoading = true;

                axios.post('/api/material-types', { name: materialName })
                    .then(({data}) => {
                        this.materialTypes.push(data);
                        this.changeMaterial(data.id);
                        this.isLoading = false;
                    })
                    .catch(error => this.error = error.message);
            },

            /**
             * Fetch material types from server
             */
            fetchMaterialTypes() {
                this.isLoading = true;

                axios.get('/api/material-types').then(({data}) => {
                    this.materialTypes = data;
                    this.isLoading = false;
                }).catch(error => this.error = error.message);
            }
        },

        mounted() {
            this.fetchMaterialTypes();
        }
    };
</script>