<template>
    <div class="input-group" ref="sheetFormatSelect">
        <div :class="{ 'has-error': error }">
            <input ref="fakeInput"
                   type="text"
                   class="form-control fake-input"
                   @focus="toggleDropdown"
                   @input="changeFakeInput"
                   v-show="! handInputActive"
                   placeholder="Выбрать"
                   v-model="value.width"
                   :disabled="isLoading || disabled"
            />

            <div v-show="handInputActive" class="form-control-group">
                <input type="number" v-model="value.width" class="form-control width-input" ref="widthInput" :disabled="isLoading || disabled"/>
                <span class="times"><i class="fa fa-times"></i></span>
                <input type="number" v-model="value.height" class="form-control height-input" :disabled="isLoading || disabled"/>
            </div>
        </div>

        <div class="input-group-btn">
            <button type="button" class="btn btn-default" @click="toggleDropdown" :disabled="isLoading || disabled">
                <span class="caret"></span>
            </button>
        </div>

        <ul class="dropdown-menu" v-show="dropdownActive">
            <li v-for="format in formats" :class="{ active: isSelected(format) }">
                <a @click.prevent="selectFormat(format)">
                    {{ format | formatToString }}
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                formats: [],
                isLoading: false,
                error: false,
                dropdownActive: false,
                fakeInputValue: null,
            };
        },

        props: {
            /**
             * Выбранное значение в списке
             */
            value: {
                type: Object,
                default() { return { width: null, height: null }; }
            },

            /**
             * Тип формата печатного листа
             */
            type: {
                required: true,
                type: String
            },

            disabled: {
                type: Boolean,
                default: false
            }
        },

        computed: {
            /**
             * Состояние активности ручного ввода
             */
            handInputActive() {
                return this.value.width || this.value.heigth;
            }
        },

        methods: {
            /**
             * Выбор размера из списка
             */
            selectFormat(format) {
                if (this.isLoading) {
                    return false;
                }

                this.dropdownActive = false;

                this.$emit('input', format);
            },

            /**
             * Check for format is selected
             */
            isSelected(format) {
                return this.value.width == +format.width && +this.value.height == format.height;
            },

            changeFakeInput() {
                setTimeout(() => {
                    $(this.$refs.widthInput).focus();
                }, 10);
            },

            /**
             * Get formats from database
             */
            fetchFormats() {
                this.isLoading = true;

                axios.get('/api/sheet-format?type=' + this.type)
                    .then(({data}) => {
                        this.formats = data;
                        this.isLoading = false;
                    })
                    .catch(error => {
                        this.isLoading = false;
                        this.error = error.response.statusText;
                    });
            },

            /**
             * Toggle dropdown state
             */
            toggleDropdown() {
                this.dropdownActive = ! this.dropdownActive;
            },

            /**
             * Init events for dropdown
             */
            initEvents() {
                document.addEventListener('click', event => this.dropdownActive ? this.dropdownActive = false : null);
                this.$refs.sheetFormatSelect.addEventListener('click', event => event.stopPropagation());
            }
        },

        mounted() {
            this.fetchFormats();
            this.initEvents();
        }
    };
</script>

<style scoped>
    .dropdown-menu {
        display: block;
        width: 100%;
    }

    .input-group-btn > .btn {
        border-radius: 0;
    }

    .form-control-group {
        display: flex;
    }

    .times {
        border: 1px solid #d2d6de;
        border-left: 0;
        border-right: 0;
        padding: 0 10px;
    }

    .times > .fa {
        vertical-align: -webkit-baseline-middle;
    }

    .height-input {
        border-right: 0;
    }

    .fake-input {
        border-right: 0;
    }
</style>
